In [ ]:
#https://www.heywhale.com/mw/project/6146c0318447b8001769ff20/content
#2023061802

# 1-1 数据读取

## 1 读取excel文件

In [2]:
import pandas as pd 
# import openpyxl
filepath='Data/豆瓣书籍TOP250-20230604.xlsx'
Tatanic='Data/Tatanic.csv'

In [ ]:
import pandas as pd 
# import openpyxl
  
# 读取 Excel 文件  
df = pd.read_excel('Data/豆瓣书籍TOP250-20230604.xlsx', sheet_name='Sheet1')  
  
# 显示前 5 行数据  
print(df.head(5))

## 2 读取 Excel 文件｜指定位置

In [7]:
# 读取 Excel 文件并指定位置  
df = pd.read_excel('Data/豆瓣书籍TOP250-20230604.xlsx', sheet_name='Sheet1', skiprows=[0, 1], usecols=[0, 2])  
  
# 显示前 5 行数据  
# print(df.head())
# df.head(5)

## 3读取 Excel 文件｜指定行（顺序）

In [11]:
# 要读取的行号（按顺序）  
row_numbers = [0, 2, 4, 6]  
  
# 将行号转换为列表  
skiprows = list(map(lambda x: x + 1, row_numbers))  
  
# 读取 Excel 文件并指定行号  
df = pd.read_excel('Data/豆瓣书籍TOP250-20230604.xlsx', sheet_name='Sheet1', skiprows=skiprows)  
  
# 显示前 5 行数据  
# print(df.head())
# df.head()

## 4读取 Excel 文件｜指定行（跳过）

In [13]:
# 跳过前两行  
skiprows = 2  
filepath='Data/豆瓣书籍TOP250-20230604.xlsx'
# 读取 Excel 文件并跳过行  
df = pd.read_excel(filepath, sheet_name='Sheet1', skiprows=skiprows)  
  
# 显示前 5 行数据  
# print(df.head())

## 5 读取 Excel 文件｜指定行（条件）

In [16]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 基于条件选择行  
df_filtered = df.query('书籍排名 > 10')  
  
# 显示前 5 行数据  
# print(df_filtered.head())

## 6 读取 Excel 文件｜指定列（列号）

In [20]:
# 要选择的列的列号  
column_numbers = [0, 2, 4]  
  
# 将列号转换为列表  
usecols = list(map(lambda x: x + 1, column_numbers))  
  
# 读取 Excel 文件并指定列号  
df = pd.read_excel(filepath, sheet_name='Sheet1', usecols=usecols)  
  
# 显示前 5 行数据  
# print(df.head())

## 7 读取 Excel 文件｜指定列（列名）

In [23]:
# 要选择的列的列名  
column_names = ['书籍名称', '书籍作者', '书籍出版社']  
  
# 将列名转换为列表  
usecols = column_names  
  
# 读取 Excel 文件并指定列名  
df = pd.read_excel(filepath, sheet_name='Sheet1', usecols=usecols)  
  
# 显示前 5 行数据  
# print(df.head())

## 8 读取 Excel 文件｜指定列（匹配）

In [26]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 指定列  
column_name = '书籍名称'  
df =df[column_name]
  
# 打印结果  
print(df)

0               红楼梦
1                活着
2              1984
3              百年孤独
4              三体全集
           ...
245          李光耀观天下
246            步履不停
247         分成两半的子爵
248    跨越边界的社区（修订版）
249           此生未完成
Name: 书籍名称, Length: 250, dtype: object

## 9 读取 Excel 文件｜指定索引

In [27]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 指定索引  
index_number = 3  
  
# 根据索引匹配读取  
df = df.iloc[index_number]  
  
# 打印结果  
print(df)

书籍排名                                               4
书籍名称                                            百年孤独
书籍详情链接地址    https://book.douban.com/subject/6082808/
书籍作者                           [哥伦比亚] 加西亚·马尔克斯 / 范晔
书籍出版社                                        南海出版公司
书籍年份                                         2011-6
书籍价格                                          39.50元
书籍评分                                             9.3
评分人数                                       403170人评价
书籍感悟                                     魔幻现实主义文学代表作
Name: 3, dtype: object

## 10 读取 Excel 文件｜指定标题

In [7]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 指定标题  
# header_name = ['书籍名称']
  
# 根据标题匹配读取  
# df = df[df.columns == header_name]  
  
# 打印结果  
# print(df)
# no result

## 11 读取 Excel 文件｜缺失值转换

In [10]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 将缺失值转换为其他值  
df = df.fillna(0)  
# 将指定列的缺失值替换为 0  
# df['column_name'] = df['column_name'].fillna(0)
  
# 打印结果  
# print(df)

## 12 读取 Excel 文件｜缺失值标记

In [35]:
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 将指定列中值为 [] 的数据标记为缺失值  
df['书籍感悟'] = df['书籍感悟'].apply(lambda x: pd.NA if x == '[]' else x)  
df['书籍评分'] = df['书籍评分'].apply(lambda x: 9.8 if x ==9.3 else x)    
# 打印结果  
# print(df)
df.query("书籍名称=='三国演义（全二册）'")

,书籍排名,书籍名称,书籍详情链接地址,书籍作者,书籍出版社,书籍年份,书籍价格,书籍评分,评分人数,书籍感悟
9,10,三国演义（全二册）,https://book.douban.com/subject/1019568/,[明] 罗贯中,人民文学出版社,1998-05,39.50元,9.8,159748人评价,NaN

## 13 读取 Excel 文件｜忽略缺失值

In [50]:
# 读取 Excel 文件并忽略缺失值  

df = pd.read_excel(filepath, sheet_name='Sheet1', skiprows=lambda x: x == 0, keep_default_na=False)  
# df.head(10)
# 打印结果  
# print(df)
# df['书籍感悟'] = df['书籍感悟'].apply(lambda x: pd.NA if x == '[]' else x)  
# df
# df['书籍评分'] = df['书籍评分'].apply(lambda x: 9.8 if x ==9.35 else x)    
# df.query("书籍名称=='三国演义（全二册）'")

# 在上面的代码中，read_excel() 函数用于读取 Excel 文件。sheet_name 参数指定要读取的工作表的名称或索引。skiprows 参数使用一个 lambda 函数来跳过第一行（标题行），因为第一行通常包含列名，而 keep_default_na 参数设置为 False 表示忽略缺失值。请将 your_file_path.xlsx 替换为实际文件路径。最后，打印结果。

## 14 读取 Excel 文件｜指定格式

In [11]:
# 读取 Excel 文件并指定格式  
df = pd.read_excel(filepath, sheet_name='Sheet1', converters={'书籍价格': str})  
  
# 打印结果  
# print(df)
# df.describe()

## 15 读取 Excel 文件｜指定格式（时间）

In [12]:
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 将 createTime 列设置为字符串格式  
df['书籍年份'] = df['书籍年份'].astype(str)

## 16 读取 Excel 文件｜分块读取

In [21]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 返回可迭代对象，每次读取 10 行  
rows = df.iterrows()  
# rows
# 打印前 10 行数据  
for i, row in enumerate(rows):  
    if i < 3:  
        pass
#         print(row)
#           print("ok")

## 17 读取 txt 文件｜常规

In [30]:
# Tatanic
# 获取当前工作目录 
import os
current_dir = os.getcwd()+"\\Data\\"
  
# 拼接文件路径  
file_path = os.path.join(current_dir, 'Tatanic.csv')  
  
# 打开文件并读取内容  
with open(file_path, 'r') as f:  
    content = f.read()  
#     print(content)
    pass

## 18 读取 txt 文件｜含中文

In [34]:
import os
current_dir = os.getcwd()+"\\Data\\"
  
# 拼接文件路径  
file_path = os.path.join(current_dir, 'test.txt')  
with open(file_path, 'r', encoding='utf-8') as f:  
    content = f.read()  
    print(content)

我爱北京天安门
我爱北京天安门
我爱北京天安门
天安门上太阳升。
我爱北京天安门。

## 19 读取 JSON 文件

In [44]:
import json  
  
# 打开 JSON 文件并读取数据  
with open('Data\\test.json','r',encoding='utf-8') as f:  
    data = json.load(f)    
print(data)

{'name': 'John Smith', 'age': 30, 'isMarried': True, 'hobbies': ['reading', 'hiking', 'swimming'], 'address': {'street': '123 Main St', 'city': 'Anytown 重庆', 'state': 'CA', 'zip': '12345'}}

## 20 读取 HDF5 文件

In [5]:
import h5py  
  
# 创建一个新的HDF5文件  
f = h5py.File('Data/example.hdf5', 'w')  
# f.close()  
# 在文件中创建一个名为'dataset'的数据集  
dset = f.create_dataset('dataset', data=[1, 2, 3, 4, 5])  
# # # 关闭文件  
# f.close()
###读取 HDF5 文件
# 打开HDF5文件  
f = h5py.File('Data/example.hdf5', 'r')  
  
# 获取名为'dataset'的数据集  
dset = f['dataset']  
  
# 读取数据集中的数据  
data = dset[:]  
print(data)
# 关闭文件  
f.close()

[1 2 3 4 5]

## 21 从剪贴板读取数据

In [11]:
import pyperclip  
import os
current_dir = os.getcwd()+"\\Data\\"
  
# 拼接文件路径  
file_path = os.path.join(current_dir, 'Tatanic.csv')  

#拷贝到剪贴板
with open(file_path, 'r') as f:  
    text = f.read()  
# 将文本复制到剪贴板  
pyperclip.copy(text)
  
# 从剪贴板读取文本  
text = pyperclip.paste()  
  
# 将文本分割为行  
lines = text.split('\n')  
  
# 创建 DataFrame  
df = pd.DataFrame({'text': lines})  
  
# 输出 DataFrame  
# print(df)
# df

## 22 从 SQL 读取数据

In [7]:
import pymysql
mysql_conn = pymysql.connect(host= '127.0.0.1', port= 3317, user= 'root', password= 'whgdev', db= 'pydata')
df = pd.read_sql('SELECT * FROM polls_choice', mysql_conn)  
  
# 关闭数据库连接  
mysql_conn.close()
# df

C:\Users\admin\AppData\Local\Temp\ipykernel_5816\2995642152.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM polls_choice', mysql_conn)

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
# %reload_ext sql

In [13]:
%sql mysql+pymysql://root:whgdev@127.0.0.1:3317/pydata

In [17]:
%%sql
# SELECT * FROM polls_choice

 * mysql+pymysql://root:***@127.0.0.1:3317/pydata
0 rows affected.

[]

## 23 从网页读取数据

In [30]:
# 直接从东京奥运会官网读取奖牌榜数据。
import requests  

  
url = "https://api.tokyo2020.org/奖牌榜?access_token=your_access_token"  
headers = {  
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"  
}  
  
# response = requests.get(url, headers=headers)  
# data = response.json()  
  
# # print(data)
# 没成功，稍后研究

##  24 循环读取数据

In [33]:
import os  
import pandas as pd  
  
# 获取当前工作目录  
current_dir = os.getcwd()  
  
# 获取demodata文件夹路径  
demodata_dir = os.path.join(current_dir, 'Data')  
  
# 获取demodata文件夹下所有Excel文件路径  
excel_files = [os.path.join(demodata_dir, f) for f in os.listdir(demodata_dir) if f.endswith('.xlsx')]  
  
# 循环读取每个Excel文件  
for file in excel_files:  
    df = pd.read_excel(file)  
    # 在这里可以对读取到的数据进行处理  
#     print(df)
    pass

# 1-2 数据创建

## 25 从列表创建

In [35]:
import pandas as pd  
  
# 定义列表  
my_list = ["John", "Doe", "25", "Male", "Early Bird"]  
  
# 将列表转换为 DataFrame，并指定列名为"早起Python"  
df = pd.DataFrame(my_list, columns=["早起Python"])  
  
# 打印 DataFrame  
print(df)

     早起Python
0        John
1         Doe
2          25
3        Male
4  Early Bird

##  26从列表创建｜嵌套列表

In [44]:
import pandas as pd  
  
# 定义列表  
my_list = l = [[1,2,3],[4,5,6]]
  
# 将列表转换为 DataFrame，并指定行索引为"公众号"、"早起Python"  
df = pd.DataFrame(my_list,index=["公众号", "早起Python"], columns=["早起Python","早起Python2","早起Python2"])  
# df = pd.DataFrame(my_list, columns=["早起Python","早起Python2","早起Python2"])  
  
# 打印 DataFrame  
print(df)

          早起Python  早起Python2  早起Python2
公众号              1          2          3
早起Python         4          5          6

## 27 从字典创建

In [47]:
# 定义一个字典  
my_dict = {'name': ['John', 'Doe'], 'age': [25, 30], 'gender': ['Male', 'Female']}  
  
# 将字典转换为DataFrame  
df = pd.DataFrame(my_dict)  
  
# 打印DataFrame  
print(df)

   name  age  gender
0  John   25    Male
1   Doe   30  Female

## 28 从字典创建｜指定索引

In [48]:
# 定义一个字典  
my_dict = {'name': ['John', 'Doe'], 'age': [25, 30], 'gender': ['Male', 'Female']}  
  
# 将字典转换为DataFrame  
df = pd.DataFrame(my_dict, index=['Jony', 'Dre'])  
  
# 打印DataFrame  
print(df)

      name  age  gender
Jony  John   25    Male
Dre    Doe   30  Female

## 29 从字典创建｜指定列名

In [2]:
#  定义一个字典  
my_dict = {'name': ['John', 'Doe'], 'age': [25, 30], 'gender': ['Male', 'Female']}  
  
# 将字典转换为DataFrame，并指定索引顺序为 d、b、a，列名为"two"、"three"  
df = pd.DataFrame(my_dict, index=['c', 'b'],columns=['name','age','gender'])  
df.columns=['name1','name2','name3']
# #  修改列名为 "old_column_name" 和 "new_column_name"  
# df = df.rename(columns={'A': 'old_column_name', 'B': 'new_column_name'})  
  
# # 修改索引名为 "old_index_name" 和 "new_index_name"  
# df = df.rename(index={'C': 'old_index_name', 'D': 'new_index_name'})  
# 打印DataFrame  
print(df)
# , columns=['two', 'three','four']

  name1  name2   name3
c  John     25    Male
b   Doe     30  Female

## 30 从字典创建｜字典列表

In [19]:
my_dict = {'key1': [1, 2, 3], 'key2': [4, 5, 6], 'key3': [7, 8, 9]}
df = pd.DataFrame(my_dict.values(), index=my_dict.keys(), columns=range(len(my_dict['key1'])))
# df
################
data = {  
    'A': [1, 2, 3],  
    'B': [4, 5, 6],  
    'C': [7, 8, 9]  
}  
  
df = pd.DataFrame(data)
df.columns=['a1','a2','a3']
# df = df.set_index(['A','B'])
# df =df.set_index(0)
df

   a1  a2  a3
0   1   4   7
1   2   5   8
2   3   6   9

## 31从集合创建

In [23]:
my_tuple = (('1', 'A'), ('2', 'B'), ('3', 'C'), ('4', 'D'))
df = pd.DataFrame(my_tuple, index=[1, 2, 3, 4], columns=[1, 2])
# df

# 1-3 数据存储

##  32 保存为 CSV

In [26]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
df.to_csv('Data/data.csv', index=False, header=True)

## 33 保存为 CSV｜指定列

In [28]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
  
df.to_csv('Data/data.csv', columns=['name', 'age'], index=False)

## 34 保存为 CSV｜取消索引¶

In [29]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
  
df.to_csv('Data/data.csv', index=False)  #数据保存为 csv 格式至当前目录下（文件名任意），且取消每一行的索引

## 35 保存为 CSV｜标记缺失值

In [38]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
# df
  
df.loc[df['age'] == 22,['name','age']] = 'NA'
# df.loc[df['age'] == 22,'age'] = 'NA'
# np.nan  
# 将 age 为 22 的值标记为缺失值 
df
  
# df.to_csv('Data/data.csv', na_rep='NA', index=False)

  name age
0  Tom  20
1   NA  NA
2  Bob  21

## 36 保存为CSV｜压缩

In [6]:
import gzip  
  
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21], 'salary': [5000, None, 8000]}  
df = pd.DataFrame(data)  
  
with gzip.open('Data/data.csv.gz', 'wt', newline='') as f:  
    df.to_csv(f, index=False, na_rep='数据缺失', float_format='%.2f')

## 37 保存为 Excel

In [5]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21], 'salary': [5000, None, 8000]}  
df = pd.DataFrame(data)  
  
df.to_excel('Data/data.xlsx', index=False)

## 38 保存为 JSON

In [8]:
import json  
  
data = {"name": "Alice", "age": 30, "city": "New York"}  
with open("Data/data.json", "w") as f:  
    json.dump(data, f)

In [3]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21], 'salary': [5000, None, 8000]}  
df = pd.DataFrame(data)  
  
df.to_csv('Data/data.csv', na_rep='数据缺失', float_format='%.2f', index=False)
# na_rep='数据缺失' 表示使用字符串 "数据缺失" 表示缺失值。float_format='%.2f' 表示将浮点数格式化为保留两位小数的字符串。index=False 表示不保存 DataFrame 的索引信息。

## 39  保存为 Markdown

In [9]:
data = [  
    {"name": "Alice", "age": 30, "city": "New York"},  
    {"name": "Bob", "age": 25, "city": "Los Angeles"},  
    {"name": "Charlie", "age": 35, "city": "Chicago"},  
    {"name": "David", "age": 40, "city": "Houston"}  
]  
  
table = "| Name | Age | City |\n"  
for item in data:  
    table += "|---|\n"  
    table += "| {} | {} | {} |\n".format(item["name"], item["age"], item["city"])  
  
print(table)

| Name | Age | City |
|---|
| Alice | 30 | New York |
|---|
| Bob | 25 | Los Angeles |
|---|
| Charlie | 35 | Chicago |
|---|
| David | 40 | Houston |

In [13]:
data = [  
    {"name": "Alice", "age": 30, "city": "New York"},  
    {"name": "Bob", "age": 25, "city": "Los Angeles"},  
    {"name": "Charlie", "age": 35, "city": "Chicago"},  
    {"name": "David", "age": 40, "city": "Houston"}  
]  
  
df = pd.DataFrame(data)  
  
html_table = df.to_html(index=False, header=False, bold_rows=False, justify="center")  
  
with open("Data/data.html", "w") as f:  
    f.write(html_table)

In [2]:
# 8-2
import pandas as pd  
  
# 定义起始日期和结束日期  
start_date = pd.Timestamp('2021-01-01')  
end_date = pd.Timestamp('2021-09-01')  
  
# 生成日期列表  
date_list = pd.date_range(start_date, end_date).tolist()  
  
# 输出日期列表  
# print(date_list)