In [14]:
import tushare  as ts
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
#显示所有列
pd.set_option('display.max_columns', 100)
#显示所有行
pd.set_option('display.max_rows', 100)

In [3]:
#统一数据来源
def get_source():
    pro = ts.pro_api('5fb9551d1e4c7339259b68703d554c50dd7cebc016fcfc8dd11fd438')
    return pro
#股票列表
def get_data():
    df = get_source().stock_basic()
    return df
#获取股票名称
def get_stock_name(df1,df2):
#     name=df.query("ts_code=='{}'".format(df['ts_code']))['name'][0]
    for ts_code in df1['ts_code']:
        for ts_code2 in df2['ts_code']:
            if  ts_code==ts_code2: 
                 return df2[df2['ts_code']==ts_code2]['name']
#交易日历
def get_cal():
        df_cal=get_source().trade_cal()
        return df_cal
#
#获取沪股通成分,hs_type:SH,SZ
def stock_kind(kind):
        df_type = get_source().hs_const(hs_type=kind) 
        return  df_type
#上市公司基本信息  交易所代码 ，exchange_name-SSE上交所 SZSE深交所
def company_info(exchange_name,ts_codes):
    df_company =get_source().stock_company(exchange=exchange_name,ts_code=ts_codes, fields='ts_code,chairman,manager,secretary,reg_capital,setup_date,province,city,introduction,website,employees,main_business,business_scope')
    return df_company
#上市公司管理层
def company_managers(ts_code,ann_date,start_date,end_date):
        df_managers= get_source().stk_managers(ts_code=ts_code,ann_date=ann_date,start_date=start_date,end_date=end_date)
        return  df_managers
#管理层持股数
def manager_stocks(ts_code,end_date):
        df_stocks= get_source().stk_rewards(ts_code=ts_code,end_date=end_date)
        return  df_stocks
#IPO新股
def new_stocks(start_date,end_date):
        df_news= get_source().new_share(start_date=start_date, end_date=end_date)
        return  df_news
#股票的换手率问题
#某日换手率前n名的股票 ，或某阶段换手率前n名的股票
def turnover_n(trade_date,n):
    turnover_n=get_source().daily_basic(trade_date=trade_date).sort_values(by='turnover_rate',ascending=False).ts_code.tolist()[:n]
    return turnover_n
#股票的成交额问题。
def amount_n(trade_date,n):
        amount_n=get_source().daily(trade_date=trade_date).sort_values(by='amount',ascending=False).ts_code.tolist()[:n]
        return amount_n
#换手率和成交额的交集
def amount_turnover(trade_date,n):
     return list(set(amount_n(trade_date,n))&set(turnover_n(trade_date,n)))
#备用列表
def get_bakdata(trade_date):
    bak_data=get_source().bak_basic(trade_date=trade_date, fields='trade_date,ts_code,name,industry,pe')
    return bak_data
##获取日线行情
def stock_daily(ts_code,start_date,end_date): 
    if ts_code=='NA':
        df=get_source().daily(trade_date=start_date)
    else:
        df=get_source().daily(ts_code=ts_code, start_date=start_date, end_date=end_date)
    return df
##获取周线行情
def stock_weekly(ts_code,start_date,end_date):
    if ts_code=='NA':
        df=get_source().weekly(trade_date=start_date)
    else:
        df=get_source().weekly(ts_code=ts_code, start_date=start_date, end_date=end_date)
    return df
##获取月线行情

##寻找股票的
# condition = (stock_collection['close']-stock_collection['open'])/stock_collection['open']>0.03
def stock_condition(stock_collection,condition):
    return stock_collection.loc[condition]


#获取历史行情数据

#股票池细化。

#股票列表数据

In [55]:
##股票财务数据
fields='ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,basic_eps,diluted_eps,total_revenue'
df_stocks_finance=get_source().income(ts_code='600000.SH', start_date='20230101', end_date='20230515')
##资产负债表数据
fields='ts_code,ann_date,f_ann_date,end_date,report_type,comp_type,cap_rese'
df_stocks_balance_sheet=get_source().balancesheet(ts_code='600000.SH', start_date='20230101', end_date='20230515')
##现金流量表
df_cashflow =get_source().cashflow(ts_code='600000.SH', start_date='20180101', end_date='20180730')

##业绩快报
df_express=get_source().express(ts_code='600000.SH', start_date='20180101', end_date='20180701', fields='ts_code,ann_date,end_date,revenue,operate_profit,total_profit,n_income,total_assets')
# df_express_vip=get_source().express_vip(period='20221231',fields='ts_code,ann_date,end_date,revenue,operate_profit,total_profit,n_income,total_assets')

In [4]:
#基本状况、财务指标状况、行业市场声誉和市场潜力、公司声誉和公司潜力，公司人员状况、领导能力。
df_stocks=get_data()
# 1、需求超过三年的上市公司股票列表
df_stocks_age_gt3=df_stocks.query('list_date <"20210101"')

# df_stocks.query("ts_code.str.contains('002329.SZ|688271.SH|002514.SZ|688041.SH|688016.SH|002197.SZ')",engine="python")
#20221207
# 比如“ROE连续5年大于20%”“近两年营收增长率大于10%”“近两年净利润增长率大于10%”“上市时间大于3年”等
df_stocks_age_gt3['industry']=df_stocks_age_gt3['industry'].apply(str)
##选定超过三年的行业股票
df_stocks_age_gt3_base=df_stocks_age_gt3.query("industry.str.contains('医药|互联网|新能源|新材料|高端|消费')",engine="python")[['ts_code','name','industry']]
#如何获取ROE

C:\Users\admin\AppData\Local\Temp\ipykernel_968\3460868974.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_stocks_age_gt3['industry']=df_stocks_age_gt3['industry'].apply(str)

In [16]:
import time
from time import mktime
from dateutil.relativedelta import relativedelta
from datetime import datetime,timedelta

#根据这些股票，加上日期，ROE,换手率、成交额等信息。
# df_stocks_age_gt3_base.head(1000)
#日行情信息 及晒选。
trdate=(datetime.today().date() - timedelta(days=1)).strftime('%Y%m%d')
# trdate='20230524'
#交易日期所在周
# trdate_week=

stock_collection=stock_daily('NA',trdate,'')
condition = (stock_collection['close']-stock_collection['open'])/stock_collection['open']>0.03
df_selected=stock_condition(stock_collection,condition)
#股票信息
colname=['ts_code','name','industry','trade_date','open','high','low','close','pre_close','change','pct_chg']
df_selected_tmp1=pd.merge(df_selected,df_stocks_age_gt3_base,on=["ts_code"],how='inner')[colname]
#加上换手率 、市赢率、市盈率TTM、市净率
df_index_daily = get_source().index_dailybasic(trade_date=trdate
#                                                ,fields='ts_code,trade_date,turnover_rate,pe'
                                              )
colname.extend(['turnover_rate','turnover_rate_f','pe','pe_ttm','pb'])  

df_selected_tmp2=pd.merge(df_selected_tmp1,df_index_daily,on=["ts_code","trade_date"],how='left')[colname]
#加上成交额
#加上 ROE

In [46]:
get_source().index_dailybasic(ts_code='000001.SH')

,ts_code,trade_date,total_mv,float_mv,total_share,float_share,free_share,turnover_rate,turnover_rate_f,pe,pe_ttm,pb
0,000001.SH,20230529,5.669958e+13,4.249717e+13,5.576260e+12,4.237776e+12,1.775776e+12,0.6800,1.6100,13.2700,13.1400,1.3100
1,000001.SH,20230526,5.643223e+13,4.231748e+13,5.573443e+12,4.235931e+12,1.774494e+12,0.5900,1.4100,13.2000,13.0800,1.3000
2,000001.SH,20230525,5.616304e+13,4.215887e+13,5.572596e+12,4.234938e+12,1.774032e+12,0.6400,1.5200,13.1400,13.0100,1.2900
3,000001.SH,20230524,5.622842e+13,4.221672e+13,5.572082e+12,4.234437e+12,1.773652e+12,0.6500,1.5600,13.1600,13.0300,1.2900
4,000001.SH,20230523,5.705143e+13,4.279981e+13,5.571818e+12,4.234169e+12,1.773315e+12,0.6200,1.4900,13.3500,13.2200,1.3100
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,000001.SH,20110127,2.143539e+13,1.406005e+13,2.818818e+12,1.606669e+12,5.406556e+11,0.6538,1.9430,21.0156,16.3943,2.3602
2996,000001.SH,20110126,2.105830e+13,1.385579e+13,2.817813e+12,1.606585e+12,5.405712e+11,0.3761,1.1179,20.6842,16.1307,2.3221
2997,000001.SH,20110125,2.082761e+13,1.369911e+13,2.817481e+12,1.606253e+12,5.404215e+11,0.4298,1.2775,20.4679,15.9585,2.2974
2998,000001.SH,20110124,2.095987e+13,1.378781e+13,2.817481e+12,1.606253e+12,5.404145e+11,0.5436,1.6159,20.6099,16.0607,2.3122
2999,000001.SH,20110121,2.110970e+13,1.387507e+13,2.817481e+12,1.605801e+12,5.404154e+11,0.5929,1.7616,20.7651,16.1754,2.3281

In [17]:
# df_selected_tmp1.query("industry.str.contains( '互联网')").head(100)
# df_index_daily.head(100)
df_selected_tmp2.head(100)
# get_source().weekly(trade_date='20230519')

# df_index_daily.query("ts_code=='003010.SZ'")
# 000001.SH
# stock_collection.head(10)
# stock_collection.query("ts_code=='000001.SH'")
# df_index_daily.query("ts_code=='000001.SH'")

,ts_code,name,industry,trade_date,open,high,low,close,pre_close,change,pct_chg,turnover_rate,turnover_rate_f,pe,pe_ttm,pb
0,300052.SZ,中青宝,互联网,20230529,18.65,20.50,18.24,19.37,18.65,0.72,3.8606,NaN,NaN,NaN,NaN,NaN
1,605168.SH,三人行,互联网,20230529,127.05,133.91,126.37,133.45,121.74,11.71,9.6189,NaN,NaN,NaN,NaN,NaN
2,002425.SZ,凯撒文化,互联网,20230529,5.03,5.57,5.02,5.57,5.06,0.51,10.0791,NaN,NaN,NaN,NaN,NaN
3,300113.SZ,顺网科技,互联网,20230529,14.81,17.59,14.71,17.59,14.66,2.93,19.9864,NaN,NaN,NaN,NaN,NaN
4,002517.SZ,恺英网络,互联网,20230529,15.80,17.29,15.61,16.53,15.72,0.81,5.1527,NaN,NaN,NaN,NaN,NaN
5,000950.SZ,重药控股,医药商业,20230529,6.69,7.24,6.64,7.13,6.63,0.50,7.5415,NaN,NaN,NaN,NaN,NaN
6,002558.SZ,巨人网络,互联网,20230529,17.40,18.63,17.29,18.31,16.94,1.37,8.0874,NaN,NaN,NaN,NaN,NaN
7,300226.SZ,上海钢联,互联网,20230529,31.75,32.99,31.66,32.72,31.65,1.07,3.3807,NaN,NaN,NaN,NaN,NaN
8,300921.SZ,南凌科技,互联网,20230529,22.94,24.08,22.81,24.03,22.80,1.23,5.3947,NaN,NaN,NaN,NaN,NaN
9,002602.SZ,世纪华通,互联网,20230529,5.48,5.86,5.36,5.79,5.43,0.36,6.6298,NaN,NaN,NaN,NaN,NaN
10,002605.SZ,姚记科技,互联网,20230529,32.11,35.29,31.92,34.49,32.08,2.41,7.5125,NaN,NaN,NaN,NaN,NaN
11,300299.SZ,富春股份,互联网,20230529,6.83,7.35,6.78,7.11,6.85,0.26,3.7956,NaN,NaN,NaN,NaN,NaN
12,300315.SZ,掌趣科技,互联网,20230529,5.17,5.67,5.10,5.49,5.18,0.31,5.9846,NaN,NaN,NaN,NaN,NaN
13,300459.SZ,汤姆猫,互联网,20230529,6.31,6.74,6.23,6.51,6.15,0.36,5.8537,NaN,NaN,NaN,NaN,NaN
14,300467.SZ,迅游科技,互联网,20230529,15.78,17.32,15.73,16.71,15.91,0.80,5.0283,NaN,NaN,NaN,NaN,NaN
15,603444.SH,吉比特,互联网,20230529,499.00,542.40,499.00,527.90,493.18,34.72,7.0400,NaN,NaN,NaN,NaN,NaN
16,603533.SH,掌阅科技,互联网,20230529,23.52,25.41,23.39,24.55,23.89,0.66,2.7627,NaN,NaN,NaN,NaN,NaN
17,300494.SZ,盛天网络,互联网,20230529,37.53,40.80,37.50,39.23,37.51,1.72,4.5854,NaN,NaN,NaN,NaN,NaN
18,300571.SZ,平治信息,互联网,20230529,33.30,35.00,33.11,34.41,32.86,1.55,4.7170,NaN,NaN,NaN,NaN,NaN
19,002995.SZ,天地在线,互联网,20230529,33.34,34.44,32.50,34.44,31.31,3.13,9.9968,NaN,NaN,NaN,NaN,NaN
20,003010.SZ,若羽臣,互联网,20230529,20.64,22.55,20.64,21.32,22.93,-1.61,-7.0214,NaN,NaN,NaN,NaN,NaN
21,300002.SZ,神州泰岳,互联网,20230529,11.42,12.98,11.21,12.29,11.21,1.08,9.6343,NaN,NaN,NaN,NaN,NaN
22,600998.SH,九州通,医药商业,20230529,15.43,16.04,15.41,15.91,15.44,0.47,3.0440,NaN,NaN,NaN,NaN,NaN

In [42]:
# df_index_daily.query("ts_code=='300315.SZ'")
df_index_daily

,ts_code,trade_date,total_mv,float_mv,total_share,float_share,free_share,turnover_rate,turnover_rate_f,pe,pe_ttm,pb
0,000001.SH,20230529,5.669958e+13,4.249717e+13,5.576260e+12,4.237776e+12,1.775776e+12,0.68,1.61,13.27,13.14,1.31
1,000005.SH,20230529,3.439160e+12,2.309893e+12,4.082301e+11,2.596427e+11,1.573615e+11,0.82,1.35,11.64,11.07,1.09
2,000006.SH,20230529,6.351884e+11,6.128474e+11,9.348621e+10,8.939277e+10,4.297000e+10,0.60,1.25,7.99,7.91,0.74
3,000016.SH,20230529,1.824071e+13,1.543808e+13,1.504416e+12,1.226463e+12,3.294688e+11,0.24,0.89,9.83,9.77,1.21
4,000300.SH,20230529,4.955197e+13,3.758010e+13,4.017693e+12,2.927034e+12,1.099826e+12,0.45,1.20,11.98,11.78,1.33
5,000905.SH,20230529,1.247445e+13,1.095921e+13,1.344543e+12,1.188277e+12,6.351615e+11,1.05,1.97,24.69,25.41,1.69
6,399001.SZ,20230529,2.168815e+13,1.814862e+13,1.296742e+12,1.112809e+12,6.480155e+11,1.26,2.17,25.04,24.84,2.41
7,399005.SZ,20230529,6.534429e+12,5.443057e+12,3.224396e+11,2.781802e+11,1.500341e+11,1.14,2.12,20.80,20.38,2.94
8,399006.SZ,20230529,5.487468e+12,4.289834e+12,1.353616e+11,1.081767e+11,7.711469e+10,1.40,1.96,32.98,31.65,4.33
9,399016.SZ,20230529,5.983905e+12,5.258813e+12,1.948554e+11,1.687021e+11,1.219813e+11,1.68,2.32,29.40,28.65,4.03
10,399300.SZ,20230529,4.955197e+13,3.758010e+13,4.017693e+12,2.927034e+12,1.099826e+12,0.45,1.20,11.98,11.78,1.33
11,399905.SZ,20230529,1.247445e+13,1.095921e+13,1.344543e+12,1.188277e+12,6.351615e+11,1.05,1.97,24.69,25.41,1.69

In [36]:
#查看某只股票的区间变动情况

df_stock_detail=stock_daily('300459.SZ','20230520','20230530')
# 将日期转换为datetime格式  
# df_stock_detail['trade_date'] = df_stock_detail.to_datetime(df_stock_detail['trade_date'])  
# 按日期排序  
df_stock_detail = df_stock_detail.sort_values('trade_date')  

# 获取开盘价、最高价、最低价和收盘价，并创建一个新的DataFrame  
OHLC=pd.DataFrame({  
 'Open': df_stock_detail['open'], 
 'High': df_stock_detail['high'],  
 'Low':df_stock_detail['low'],
 'Close': df_stock_detail['close']  
 })
# 创建K线图  
OHLC.plot(kind='candle', figsize=(10, 5))  

添加图例和标签  
plt.legend(loc='upper left') 

# 绘制收盘价图形  
fig, ax = plt.subplots()  
ax.plot(df_stock_detail['trade_date'], df_stock_detail['close'])  
ax.set_xlabel('trade_date')  
ax.set_ylabel('Close')  
plt.legend(loc='upper left') 
plt.show()
# df_stock_detail

ValueError: candle is not a valid plot kind

In [102]:
df_selected['name']=df_selected.apply(lambda x:get_stock_name(x,df_stocks_age_gt3),axis=1)

C:\Users\admin\AppData\Local\Temp\ipykernel_9404\3604007438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['name']=df_selected.apply(lambda x:get_stock_name(x,df_stocks_age_gt3),axis=1)

In [9]:
df_selected[df_selected['name']=='诺思兰德']

KeyError: 'name'

In [6]:
df_stocks_age_gt3_base['turnover']=df_stocks_age_gt3_base.apply(lambda x:x['ts_code'],axis=1)

In [7]:
#成交额排名前100的股票代码
for ts_code in amount_n('20230421',10):
    print(ts_code)

300750.SZ
002230.SZ
603019.SH
300418.SZ
000977.SZ
601360.SH
688981.SH
000988.SZ
000063.SZ
300059.SZ

In [ ]:
#########以下为基本技术的验证############

In [ ]:
df_selected['name']=df_selected.apply(lambda x:get_stock_name(x,df_stocks_age_gt3),axis=1)

In [64]:
# df_stocks.head(2)
#给行情信息名字
# def get_name(df):
#     df['name']=df[ts]
def get_stock_name(ts_code):
    name=df_stocks.query("ts_code=='{}'".format(ts_code))['name'][0]
    return name
# df_stocks.query("ts_code=='000001.SZ'")

In [93]:
# get_stock_name('000001.SZ')
#获取股票名称
def get_stock_name(df1,df2):
#     name=df.query("ts_code=='{}'".format(df['ts_code']))['name'][0]
    for ts_code in df1['ts_code']:
#         print(ts_code)
        for ts_code2 in df2['ts_code']:
            if  ts_code==ts_code2: 
#                  print(ts_code2,ts_code)   

                 print(df2[df2['ts_code']==ts_code2]['name'])

In [100]:
get_stock_name(df_selected,df_stocks_age_gt3)

2773    诺思兰德
Name: name, dtype: object
5070    三友科技
Name: name, dtype: object
5027    安徽凤凰
Name: name, dtype: object
5119    方大新材
Name: name, dtype: object
5026    创远信科
Name: name, dtype: object
5087    数字人
Name: name, dtype: object
5035    鹿得医疗
Name: name, dtype: object
5086    富士达
Name: name, dtype: object
5147    常辅股份
Name: name, dtype: object
4999    万通液压
Name: name, dtype: object
5024    浩淼科技
Name: name, dtype: object
4996    艾融软件
Name: name, dtype: object
2778    苏轴股份
Name: name, dtype: object
5069    恒拓开源
Name: name, dtype: object
267    中交地产
Name: name, dtype: object
288    甘咨询
Name: name, dtype: object
942    杭氧股份
Name: name, dtype: object
1604    易联众
Name: name, dtype: object
1621    中航电测
Name: name, dtype: object
1637    新国都
Name: name, dtype: object
2268    值得买
Name: name, dtype: object
2276    佳禾智能
Name: name, dtype: object
2978    海南椰岛
Name: name, dtype: object
2983    万通发展
Name: name, dtype: object
2984    陕西建工
Name: name, dtype: object
2995    北方股份
Name: name, dtype: object
3635    杭齿前进
Name: name, dtype: object
3660    青岛港
Name: name, dtype: object
3667    广深铁路
Name: name, dtype: object
4309    佳力图
Name: name, dtype: object
4313    金桥信息
Name: name, dtype: object
4318    中科软
Name: name, dtype: object
301    中国武夷
Name: name, dtype: object
315    美利云
Name: name, dtype: object
332    财信发展
Name: name, dtype: object
989    *ST广田
Name: name, dtype: object
1647    中环装备
Name: name, dtype: object
1671    天瑞仪器
Name: name, dtype: object
1672    东方国信
Name: name, dtype: object
1674    万达信息
Name: name, dtype: object
2326    捷安高科
Name: name, dtype: object
2338    协创数据
Name: name, dtype: object
3670    三六零
Name: name, dtype: object
3682    中新集团
Name: name, dtype: object
3699    长城军工
Name: name, dtype: object
4347    丸美股份
Name: name, dtype: object
4360    读者传媒
Name: name, dtype: object
4379    天正电气
Name: name, dtype: object
1696    科德教育
Name: name, dtype: object
1708    天喻信息
Name: name, dtype: object
1715    易华录
Name: name, dtype: object
2381    中胤时尚
Name: name, dtype: object
3044    华发股份
Name: name, dtype: object
3050    宏达股份
Name: name, dtype: object
3053    国机汽车
Name: name, dtype: object
3055    美克家居
Name: name, dtype: object
3058    华夏幸福
Name: name, dtype: object
3733    光大证券
Name: name, dtype: object
388    福星股份
Name: name, dtype: object
414    天保基建
Name: name, dtype: object
1072    百润股份
Name: name, dtype: object
1085    未名医药
Name: name, dtype: object
1734    洲明科技
Name: name, dtype: object
1737    方直科技
Name: name, dtype: object
1752    初灵信息
Name: name, dtype: object
2394    朗特智能
Name: name, dtype: object
2395    特发服务
Name: name, dtype: object
3087    宁沪高速
Name: name, dtype: object
3093    金地集团
Name: name, dtype: object
3098    五矿资本
Name: name, dtype: object
3105    海澜之家
Name: name, dtype: object
3114    小商品城
Name: name, dtype: object
3758    中国银河
Name: name, dtype: object
3765    南方传媒
Name: name, dtype: object
3776    中国出版
Name: name, dtype: object
3787    中国银行
Name: name, dtype: object
439    新大陆
Name: name, dtype: object
1110    中公教育
Name: name, dtype: object
1122    美吉姆
Name: name, dtype: object
1786    苏交科
Name: name, dtype: object
1790    朗玛信息
Name: name, dtype: object
1797    三六五网
Name: name, dtype: object
1802    海峡创新
Name: name, dtype: object
1805    聚飞光电
Name: name, dtype: object
3812    中衡设计
Name: name, dtype: object
3813    华设集团
Name: name, dtype: object
4509    当虹科技
Name: name, dtype: object
1158    中科金财
Name: name, dtype: object
1160    凯文教育
Name: name, dtype: object
1830    计通退
Name: name, dtype: object
1838    ST开元
Name: name, dtype: object
3874    新经典
Name: name, dtype: object
4523    宝兰德
Name: name, dtype: object
522    招商蛇口
Name: name, dtype: object
541    *ST中捷
Name: name, dtype: object
1181    奋达科技
Name: name, dtype: object
1859    全通教育
Name: name, dtype: object
1864    创意信息
Name: name, dtype: object
1870    中铁装配
Name: name, dtype: object
3239    八一钢铁
Name: name, dtype: object
3891    红蜻蜓
Name: name, dtype: object
3892    ST万林
Name: name, dtype: object
3909    海量数据
Name: name, dtype: object
4569    赛诺医疗
Name: name, dtype: object
1227    燕塘乳业
Name: name, dtype: object
1256    汇洁股份
Name: name, dtype: object
1895    天利科技
Name: name, dtype: object
3263    绿地控股
Name: name, dtype: object
3270    丰华股份
Name: name, dtype: object
3277    光大嘉宝
Name: name, dtype: object
3282    华建集团
Name: name, dtype: object
3286    国新文化
Name: name, dtype: object
3289    浦东金桥
Name: name, dtype: object
4613    步科股份
Name: name, dtype: object
613    生意宝
Name: name, dtype: object
1268    久远银海
Name: name, dtype: object
1963    四方精创
Name: name, dtype: object
3300    飞乐音响
Name: name, dtype: object
3304    信达地产
Name: name, dtype: object
3307    昂立教育
Name: name, dtype: object
3327    金龙汽车
Name: name, dtype: object
3973    雪峰科技
Name: name, dtype: object
3977    格尔软件
Name: name, dtype: object
3992    松发股份
Name: name, dtype: object
4675    开普云
Name: name, dtype: object
1995    启迪设计
Name: name, dtype: object
2008    恒实科技
Name: name, dtype: object
2011    久之洋
Name: name, dtype: object
2015    科大国创
Name: name, dtype: object
3345    光明地产
Name: name, dtype: object
3356    祁连山
Name: name, dtype: object
4698    卓易信息
Name: name, dtype: object
1    万科A
Name: name, dtype: object
11    沙河股份
Name: name, dtype: object
24    大悦城
Name: name, dtype: object
25    深桑达A
Name: name, dtype: object
35    *ST泛海
Name: name, dtype: object
675    三特索道
Name: name, dtype: object
1366    中设股份
Name: name, dtype: object
2030    农尚环境
Name: name, dtype: object
2032    同益股份
Name: name, dtype: object
2035    先进数通
Name: name, dtype: object
2046    集智股份
Name: name, dtype: object
2052    佳发教育
Name: name, dtype: object
3382    上实发展
Name: name, dtype: object
4049    设计总院
Name: name, dtype: object
4063    顶点软件
Name: name, dtype: object
4088    恒为科技
Name: name, dtype: object
4724    鸿泉物联
Name: name, dtype: object
4752    财富趋势
Name: name, dtype: object
47    北方国际
Name: name, dtype: object
716    ST交投
Name: name, dtype: object
721    国统股份
Name: name, dtype: object
744    鸿博股份
Name: name, dtype: object
1389    德生科技
Name: name, dtype: object
1393    中新赛克
Name: name, dtype: object
1419    新疆交建
Name: name, dtype: object
1426    华阳国际
Name: name, dtype: object
2095    立昂技术
Name: name, dtype: object
2098    金太阳
Name: name, dtype: object
3419    轻纺城
Name: name, dtype: object
3442    ST安信
Name: name, dtype: object
3448    上海物贸
Name: name, dtype: object
3451    新华传媒
Name: name, dtype: object
3453    百联股份
Name: name, dtype: object
4107    掌阅科技
Name: name, dtype: object
4788    光云科技
Name: name, dtype: object
106    渝开发
Name: name, dtype: object
116    学大教育
Name: name, dtype: object
759    滨江集团
Name: name, dtype: object
788    桂林三金
Name: name, dtype: object
1461    京北方
Name: name, dtype: object
1466    宝明科技
Name: name, dtype: object
2113    维业股份
Name: name, dtype: object
2126    彩讯股份
Name: name, dtype: object
2130    广和通
Name: name, dtype: object
2137    正元智慧
Name: name, dtype: object
2796    皖通高速
Name: name, dtype: object
2820    保利发展
Name: name, dtype: object
3462    海通证券
Name: name, dtype: object
4135    引力传媒
Name: name, dtype: object
131    中原环保
Name: name, dtype: object
803    禾盛新材
Name: name, dtype: object
805    奥飞娱乐
Name: name, dtype: object
818    南国置业
Name: name, dtype: object
820    北新路桥
Name: name, dtype: object
826    *ST日海
Name: name, dtype: object
828    焦点科技
Name: name, dtype: object
1474    中岩大地
Name: name, dtype: object
1478    竞业达
Name: name, dtype: object
1486    地铁设计
Name: name, dtype: object
1500    吉大正元
Name: name, dtype: object
2145    世纪天鸿
Name: name, dtype: object
2160    沪宁股份
Name: name, dtype: object
2165    宇信科技
Name: name, dtype: object
2166    建科院
Name: name, dtype: object
2179    创业黑马
Name: name, dtype: object
2184    盛弘股份
Name: name, dtype: object
2840    中船科技
Name: name, dtype: object
2861    同方股份
Name: name, dtype: object
3539    江苏有线
Name: name, dtype: object
4178    天马科技
Name: name, dtype: object
4206    香飘飘
Name: name, dtype: object
4213    中广天择
Name: name, dtype: object
184    中油资本
Name: name, dtype: object
864    漫步者
Name: name, dtype: object
874    汉王科技
Name: name, dtype: object
880    太极股份
Name: name, dtype: object
1525    鼎汉技术
Name: name, dtype: object
1534    银江技术
Name: name, dtype: object
2220    设研院
Name: name, dtype: object
4235    乾景园林
Name: name, dtype: object
4905    山大地纬
Name: name, dtype: object
4911    新致软件
Name: name, dtype: object
225    视觉中国
Name: name, dtype: object
245    贝瑞基因
Name: name, dtype: object
885    千方科技
Name: name, dtype: object
913    中远海科
Name: name, dtype: object
921    雅克科技
Name: name, dtype: object
1558    天源迪科
Name: name, dtype: object
1569    蓝色光标
Name: name, dtype: object
1584    数字政通
Name: name, dtype: object
1587    思创医惠
Name: name, dtype: object
1594    银之杰
Name: name, dtype: object
2232    汉嘉设计
Name: name, dtype: object
2252    迪普科技
Name: name, dtype: object
2254    新媒股份
Name: name, dtype: object
2262    新城市
Name: name, dtype: object
2919    上海建工
Name: name, dtype: object
2927    瑞茂通
Name: name, dtype: object
2951    新湖中宝
Name: name, dtype: object
3627    新城控股
Name: name, dtype: object

In [97]:
df_tmp=stock_weekly('000001.SZ','20230421','20230516').head(100)

In [98]:
df_tmp

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20230512,12.62,12.94,13.60,12.61,12.91,-0.29,-0.0225,807966857.0,1.060886e+10
1,000001.SZ,20230505,12.91,12.40,13.11,12.19,12.55,0.36,0.0287,324045303.0,4.147127e+09
2,000001.SZ,20230428,12.55,12.48,12.78,11.99,12.50,0.05,0.0040,621018085.0,7.630634e+09
3,000001.SZ,20230421,12.50,12.66,13.20,12.48,12.69,-0.19,-0.0150,558798369.0,7.182669e+09

In [35]:
# 沪深股通十大成交股
# df_tmp=get_source().hsgt_top10(trade_date='20230426', market_type='3')
# df_tmp

In [38]:
condition = (df_tmp['close']-df_tmp['open'])/df_tmp['open']>0.03
#获取满足条件的数据
df_tmp.loc[condition]
#获取满足条件的行索引
# df_tmp.loc[condition].index

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
7,000009.SZ,20220902,14.60,15.33,14.40,15.09,14.43,0.66,4.5738,788862.84,1177303.263
15,000020.SZ,20220902,9.43,9.89,9.41,9.77,9.42,0.35,3.7155,57574.01,55757.641
18,000025.SZ,20220902,18.55,19.95,18.55,19.15,18.40,0.75,4.0761,150920.78,291811.604
26,000034.SZ,20220902,17.42,18.32,17.38,17.97,17.32,0.65,3.7529,154548.58,276420.047
30,000038.SZ,20220902,4.63,4.85,4.63,4.83,4.66,0.17,3.6481,53879.20,25797.709
34,000045.SZ,20220902,8.60,8.91,8.59,8.87,8.62,0.25,2.9002,283834.34,249348.791
37,000049.SZ,20220902,51.01,53.99,50.48,52.72,50.21,2.51,4.9990,135861.83,712678.653
41,000058.SZ,20220902,5.86,6.20,5.84,6.14,5.92,0.22,3.7162,170761.20,103676.101
49,000068.SZ,20220902,3.89,4.13,3.70,4.13,3.75,0.38,10.1333,561303.24,223888.053
51,000070.SZ,20220902,6.51,7.04,6.51,6.92,6.46,0.46,7.1207,274781.13,187171.707
66,000159.SZ,20220902,8.80,9.11,8.62,9.07,8.75,0.32,3.6571,165575.57,147525.102
78,000409.SZ,20220902,6.52,7.16,6.50,7.16,6.51,0.65,9.9846,252993.08,178464.811
83,000416.SZ,20220902,4.30,4.71,4.30,4.48,4.28,0.20,4.6729,1263264.76,580859.135

In [9]:
get_source().daily().query("ts_code=='002197.SZ'").head(10)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
3018,002197.SZ,20230420,11.42,11.61,11.34,11.58,11.41,0.17,1.4899,317725.29,365419.187

In [11]:
#获取股票市场行业列表。
for industry in df_stocks['industry'].unique():
    if industry!=None:
        print(industry)

银行
全国地产
软件服务
环境保护
区域地产
其他商业
运输设备
电气设备
建筑工程
玻璃
家用电器
服饰
农业综合
元器件
水泥
汽车服务
火力发电
医药商业
汽车配件
综合类
新型电力
多元金融
装修装饰
房产服务
商品城
石油加工
铅锌
通信设备
IT设备
旅游景点
港口
机场
石油贸易
空运
生物制药
商贸代理
化学制药
影视音像
工程机械
证券
化纤
供气供热
农药化肥
机床制造
百货
中成药
酒店餐饮
路桥
造纸
医疗保健
食品
黄金
化工原料
专用机械
水运
日用化工
旅游服务
文教休闲
出版业
机械基件
汽车整车
煤炭开采
铁路
染料涂料
白酒
农用机械
林业
水务
水力发电
互联网
广告包装
铝
其他建材
批发业
保险
小金属
铜
普钢
航空
饲料
特种钢
种植业
仓储物流
焦炭加工
纺织
啤酒
超市连锁
钢加工
矿物制品
渔业
软饮料
化工机械
塑料
红黄酒
家居用品
摩托车
石油开采
轻工机械
电器仪表
半导体
乳制品
纺织机械
电器连锁
陶瓷
橡胶
公路
电信运营
公共交通
船舶
园区开发

In [8]:
# from datetime import datetime as dt
# from datetime import date,time
import time
from time import mktime
from datetime import datetime,timedelta
from dateutil.relativedelta import relativedelta

s='20210101'
e='20210102'
# 字符串转日期
s_date=datetime.strptime(s,'%Y%m%d')
e_date=datetime.strptime(e,'%Y%m%d')
#今天
today=datetime.today().date().strftime('%Y%m%d')
# 上一天
lastday=(datetime.today().date() - timedelta(days=1)).strftime('%Y%m%d')
#上一年
lastyear=(datetime.today().date() - relativedelta(months=12)).strftime('%Y%m%d')
print(s_date) ,print(e_date),print(today),print(lastday),print(lastyear)
# (e_date-s_date).month

2021-01-01 00:00:00
2021-01-02 00:00:00
20230526
20230525
20220526

(None, None, None, None, None)

In [9]:
import time
from time import mktime
from dateutil.relativedelta import relativedelta
from datetime import datetime,timedelta
  
# 获取当前日期  
s='20230526'
# e='20210102'
# today = datetime.date.today()  
# 字符串转日期
today=datetime.strptime(s)
  
# 获取周末日期  
weekend_date = today + datetime.timedelta(days=today.weekday())  
  
# 获取月末日期  
last_day_of_month = datetime.datetime(today.year, today.month, 1).strftime("%d")  
last_day_of_month = int(last_day_of_month)  
last_day_of_month += (30 - last_day_of_month) % 30  
  
print("Today is:", today)  
print("Weekend date:", weekend_date)  
print("Last day of month:", last_day_of_month)

TypeError: strptime() takes exactly 2 arguments (1 given)

In [22]:
import time
from time import mktime
from datetime import datetime,timedelta
from dateutil.relativedelta import relativedelta

s='20210101'
e='20210102'
# 字符串转日期
s_date=datetime.strptime(s,'%Y%m%d')
e_date=datetime.strptime(e,'%Y%m%d')
lastday=(datetime.today().date() - timedelta(days=1)).strftime('%Y%m%d')

In [24]:
print(s_date,e_date,lastday)

2021-01-01 00:00:00 2021-01-02 00:00:00 20230525