In [ ]:
#https://www.heywhale.com/mw/project/6146c0318447b8001769ff20/content
#2023061802

# 1-1 数据读取

## 1 读取excel文件

In [1]:
import pandas as pd 
# import openpyxl
filepath='Data/豆瓣书籍TOP250-20230604.xlsx'
Tatanic='Data/Tatanic.csv'

In [2]:
import pandas as pd 
# import openpyxl
  
# 读取 Excel 文件  
df = pd.read_excel('Data/豆瓣书籍TOP250-20230604.xlsx', sheet_name='Sheet1')  
  
# 显示前 5 行数据  
# print(df.head(5))

## 2 读取 Excel 文件｜指定位置

In [7]:
# 读取 Excel 文件并指定位置  
df = pd.read_excel('Data/豆瓣书籍TOP250-20230604.xlsx', sheet_name='Sheet1', skiprows=[0, 1], usecols=[0, 2])  
  
# 显示前 5 行数据  
# print(df.head())
# df.head(5)

## 3读取 Excel 文件｜指定行（顺序）

In [11]:
# 要读取的行号（按顺序）  
row_numbers = [0, 2, 4, 6]  
  
# 将行号转换为列表  
skiprows = list(map(lambda x: x + 1, row_numbers))  
  
# 读取 Excel 文件并指定行号  
df = pd.read_excel('Data/豆瓣书籍TOP250-20230604.xlsx', sheet_name='Sheet1', skiprows=skiprows)  
  
# 显示前 5 行数据  
# print(df.head())
# df.head()

## 4读取 Excel 文件｜指定行（跳过）

In [13]:
# 跳过前两行  
skiprows = 2  
filepath='Data/豆瓣书籍TOP250-20230604.xlsx'
# 读取 Excel 文件并跳过行  
df = pd.read_excel(filepath, sheet_name='Sheet1', skiprows=skiprows)  
  
# 显示前 5 行数据  
# print(df.head())

## 5 读取 Excel 文件｜指定行（条件）

In [16]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 基于条件选择行  
df_filtered = df.query('书籍排名 > 10')  
  
# 显示前 5 行数据  
# print(df_filtered.head())

## 6 读取 Excel 文件｜指定列（列号）

In [20]:
# 要选择的列的列号  
column_numbers = [0, 2, 4]  
  
# 将列号转换为列表  
usecols = list(map(lambda x: x + 1, column_numbers))  
  
# 读取 Excel 文件并指定列号  
df = pd.read_excel(filepath, sheet_name='Sheet1', usecols=usecols)  
  
# 显示前 5 行数据  
# print(df.head())

## 7 读取 Excel 文件｜指定列（列名）

In [23]:
# 要选择的列的列名  
column_names = ['书籍名称', '书籍作者', '书籍出版社']  
  
# 将列名转换为列表  
usecols = column_names  
  
# 读取 Excel 文件并指定列名  
df = pd.read_excel(filepath, sheet_name='Sheet1', usecols=usecols)  
  
# 显示前 5 行数据  
# print(df.head())

## 8 读取 Excel 文件｜指定列（匹配）

In [26]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 指定列  
column_name = '书籍名称'  
df =df[column_name]
  
# 打印结果  
print(df)

0               红楼梦
1                活着
2              1984
3              百年孤独
4              三体全集
           ...
245          李光耀观天下
246            步履不停
247         分成两半的子爵
248    跨越边界的社区（修订版）
249           此生未完成
Name: 书籍名称, Length: 250, dtype: object

## 9 读取 Excel 文件｜指定索引

In [27]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 指定索引  
index_number = 3  
  
# 根据索引匹配读取  
df = df.iloc[index_number]  
  
# 打印结果  
print(df)

书籍排名                                               4
书籍名称                                            百年孤独
书籍详情链接地址    https://book.douban.com/subject/6082808/
书籍作者                           [哥伦比亚] 加西亚·马尔克斯 / 范晔
书籍出版社                                        南海出版公司
书籍年份                                         2011-6
书籍价格                                          39.50元
书籍评分                                             9.3
评分人数                                       403170人评价
书籍感悟                                     魔幻现实主义文学代表作
Name: 3, dtype: object

## 10 读取 Excel 文件｜指定标题

In [7]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 指定标题  
# header_name = ['书籍名称']
  
# 根据标题匹配读取  
# df = df[df.columns == header_name]  
  
# 打印结果  
# print(df)
# no result

## 11 读取 Excel 文件｜缺失值转换

In [10]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 将缺失值转换为其他值  
df = df.fillna(0)  
# 将指定列的缺失值替换为 0  
# df['column_name'] = df['column_name'].fillna(0)
  
# 打印结果  
# print(df)

## 12 读取 Excel 文件｜缺失值标记

In [35]:
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 将指定列中值为 [] 的数据标记为缺失值  
df['书籍感悟'] = df['书籍感悟'].apply(lambda x: pd.NA if x == '[]' else x)  
df['书籍评分'] = df['书籍评分'].apply(lambda x: 9.8 if x ==9.3 else x)    
# 打印结果  
# print(df)
df.query("书籍名称=='三国演义（全二册）'")

,书籍排名,书籍名称,书籍详情链接地址,书籍作者,书籍出版社,书籍年份,书籍价格,书籍评分,评分人数,书籍感悟
9,10,三国演义（全二册）,https://book.douban.com/subject/1019568/,[明] 罗贯中,人民文学出版社,1998-05,39.50元,9.8,159748人评价,NaN

## 13 读取 Excel 文件｜忽略缺失值

In [50]:
# 读取 Excel 文件并忽略缺失值  

df = pd.read_excel(filepath, sheet_name='Sheet1', skiprows=lambda x: x == 0, keep_default_na=False)  
# df.head(10)
# 打印结果  
# print(df)
# df['书籍感悟'] = df['书籍感悟'].apply(lambda x: pd.NA if x == '[]' else x)  
# df
# df['书籍评分'] = df['书籍评分'].apply(lambda x: 9.8 if x ==9.35 else x)    
# df.query("书籍名称=='三国演义（全二册）'")

# 在上面的代码中，read_excel() 函数用于读取 Excel 文件。sheet_name 参数指定要读取的工作表的名称或索引。skiprows 参数使用一个 lambda 函数来跳过第一行（标题行），因为第一行通常包含列名，而 keep_default_na 参数设置为 False 表示忽略缺失值。请将 your_file_path.xlsx 替换为实际文件路径。最后，打印结果。

## 14 读取 Excel 文件｜指定格式

In [11]:
# 读取 Excel 文件并指定格式  
df = pd.read_excel(filepath, sheet_name='Sheet1', converters={'书籍价格': str})  
  
# 打印结果  
# print(df)
# df.describe()

## 15 读取 Excel 文件｜指定格式（时间）

In [12]:
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 将 createTime 列设置为字符串格式  
df['书籍年份'] = df['书籍年份'].astype(str)

## 16 读取 Excel 文件｜分块读取

In [21]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 返回可迭代对象，每次读取 10 行  
rows = df.iterrows()  
# rows
# 打印前 10 行数据  
for i, row in enumerate(rows):  
    if i < 3:  
        pass
#         print(row)
#           print("ok")

## 17 读取 txt 文件｜常规

In [30]:
# Tatanic
# 获取当前工作目录 
import os
current_dir = os.getcwd()+"\\Data\\"
  
# 拼接文件路径  
file_path = os.path.join(current_dir, 'Tatanic.csv')  
  
# 打开文件并读取内容  
with open(file_path, 'r') as f:  
    content = f.read()  
#     print(content)
    pass

## 18 读取 txt 文件｜含中文

In [34]:
import os
current_dir = os.getcwd()+"\\Data\\"
  
# 拼接文件路径  
file_path = os.path.join(current_dir, 'test.txt')  
with open(file_path, 'r', encoding='utf-8') as f:  
    content = f.read()  
    print(content)

我爱北京天安门
我爱北京天安门
我爱北京天安门
天安门上太阳升。
我爱北京天安门。

## 19 读取 JSON 文件

In [44]:
import json  
  
# 打开 JSON 文件并读取数据  
with open('Data\\test.json','r',encoding='utf-8') as f:  
    data = json.load(f)    
print(data)

{'name': 'John Smith', 'age': 30, 'isMarried': True, 'hobbies': ['reading', 'hiking', 'swimming'], 'address': {'street': '123 Main St', 'city': 'Anytown 重庆', 'state': 'CA', 'zip': '12345'}}

## 20 读取 HDF5 文件

In [5]:
import h5py  
  
# 创建一个新的HDF5文件  
f = h5py.File('Data/example.hdf5', 'w')  
# f.close()  
# 在文件中创建一个名为'dataset'的数据集  
dset = f.create_dataset('dataset', data=[1, 2, 3, 4, 5])  
# # # 关闭文件  
# f.close()
###读取 HDF5 文件
# 打开HDF5文件  
f = h5py.File('Data/example.hdf5', 'r')  
  
# 获取名为'dataset'的数据集  
dset = f['dataset']  
  
# 读取数据集中的数据  
data = dset[:]  
print(data)
# 关闭文件  
f.close()

[1 2 3 4 5]

## 21 从剪贴板读取数据

In [11]:
import pyperclip  
import os
current_dir = os.getcwd()+"\\Data\\"
  
# 拼接文件路径  
file_path = os.path.join(current_dir, 'Tatanic.csv')  

#拷贝到剪贴板
with open(file_path, 'r') as f:  
    text = f.read()  
# 将文本复制到剪贴板  
pyperclip.copy(text)
  
# 从剪贴板读取文本  
text = pyperclip.paste()  
  
# 将文本分割为行  
lines = text.split('\n')  
  
# 创建 DataFrame  
df = pd.DataFrame({'text': lines})  
  
# 输出 DataFrame  
# print(df)
# df

## 22 从 SQL 读取数据

In [7]:
import pymysql
mysql_conn = pymysql.connect(host= '127.0.0.1', port= 3317, user= 'root', password= 'whgdev', db= 'pydata')
df = pd.read_sql('SELECT * FROM polls_choice', mysql_conn)  
  
# 关闭数据库连接  
mysql_conn.close()
# df

C:\Users\admin\AppData\Local\Temp\ipykernel_5816\2995642152.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM polls_choice', mysql_conn)

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
# %reload_ext sql

In [13]:
%sql mysql+pymysql://root:whgdev@127.0.0.1:3317/pydata

In [17]:
%%sql
# SELECT * FROM polls_choice

 * mysql+pymysql://root:***@127.0.0.1:3317/pydata
0 rows affected.

[]

## 23 从网页读取数据

In [30]:
# 直接从东京奥运会官网读取奖牌榜数据。
import requests  

  
url = "https://api.tokyo2020.org/奖牌榜?access_token=your_access_token"  
headers = {  
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"  
}  
  
# response = requests.get(url, headers=headers)  
# data = response.json()  
  
# # print(data)
# 没成功，稍后研究

##  24 循环读取数据

In [33]:
import os  
import pandas as pd  
  
# 获取当前工作目录  
current_dir = os.getcwd()  
  
# 获取demodata文件夹路径  
demodata_dir = os.path.join(current_dir, 'Data')  
  
# 获取demodata文件夹下所有Excel文件路径  
excel_files = [os.path.join(demodata_dir, f) for f in os.listdir(demodata_dir) if f.endswith('.xlsx')]  
  
# 循环读取每个Excel文件  
for file in excel_files:  
    df = pd.read_excel(file)  
    # 在这里可以对读取到的数据进行处理  
#     print(df)
    pass

# 1-2 数据创建

## 25 从列表创建

In [35]:
import pandas as pd  
  
# 定义列表  
my_list = ["John", "Doe", "25", "Male", "Early Bird"]  
  
# 将列表转换为 DataFrame，并指定列名为"早起Python"  
df = pd.DataFrame(my_list, columns=["早起Python"])  
  
# 打印 DataFrame  
print(df)

     早起Python
0        John
1         Doe
2          25
3        Male
4  Early Bird

##  26从列表创建｜嵌套列表

In [44]:
import pandas as pd  
  
# 定义列表  
my_list = l = [[1,2,3],[4,5,6]]
  
# 将列表转换为 DataFrame，并指定行索引为"公众号"、"早起Python"  
df = pd.DataFrame(my_list,index=["公众号", "早起Python"], columns=["早起Python","早起Python2","早起Python2"])  
# df = pd.DataFrame(my_list, columns=["早起Python","早起Python2","早起Python2"])  
  
# 打印 DataFrame  
print(df)

          早起Python  早起Python2  早起Python2
公众号              1          2          3
早起Python         4          5          6

## 27 从字典创建

In [47]:
# 定义一个字典  
my_dict = {'name': ['John', 'Doe'], 'age': [25, 30], 'gender': ['Male', 'Female']}  
  
# 将字典转换为DataFrame  
df = pd.DataFrame(my_dict)  
  
# 打印DataFrame  
print(df)

   name  age  gender
0  John   25    Male
1   Doe   30  Female

## 28 从字典创建｜指定索引

In [48]:
# 定义一个字典  
my_dict = {'name': ['John', 'Doe'], 'age': [25, 30], 'gender': ['Male', 'Female']}  
  
# 将字典转换为DataFrame  
df = pd.DataFrame(my_dict, index=['Jony', 'Dre'])  
  
# 打印DataFrame  
print(df)

      name  age  gender
Jony  John   25    Male
Dre    Doe   30  Female

## 29 从字典创建｜指定列名

In [2]:
#  定义一个字典  
my_dict = {'name': ['John', 'Doe'], 'age': [25, 30], 'gender': ['Male', 'Female']}  
  
# 将字典转换为DataFrame，并指定索引顺序为 d、b、a，列名为"two"、"three"  
df = pd.DataFrame(my_dict, index=['c', 'b'],columns=['name','age','gender'])  
df.columns=['name1','name2','name3']
# #  修改列名为 "old_column_name" 和 "new_column_name"  
# df = df.rename(columns={'A': 'old_column_name', 'B': 'new_column_name'})  
  
# # 修改索引名为 "old_index_name" 和 "new_index_name"  
# df = df.rename(index={'C': 'old_index_name', 'D': 'new_index_name'})  
# 打印DataFrame  
print(df)
# , columns=['two', 'three','four']

  name1  name2   name3
c  John     25    Male
b   Doe     30  Female

## 30 从字典创建｜字典列表

In [19]:
my_dict = {'key1': [1, 2, 3], 'key2': [4, 5, 6], 'key3': [7, 8, 9]}
df = pd.DataFrame(my_dict.values(), index=my_dict.keys(), columns=range(len(my_dict['key1'])))
# df
################
data = {  
    'A': [1, 2, 3],  
    'B': [4, 5, 6],  
    'C': [7, 8, 9]  
}  
  
df = pd.DataFrame(data)
df.columns=['a1','a2','a3']
# df = df.set_index(['A','B'])
# df =df.set_index(0)
df

   a1  a2  a3
0   1   4   7
1   2   5   8
2   3   6   9

## 31从集合创建

In [23]:
my_tuple = (('1', 'A'), ('2', 'B'), ('3', 'C'), ('4', 'D'))
df = pd.DataFrame(my_tuple, index=[1, 2, 3, 4], columns=[1, 2])
# df

# 1-3 数据存储

##  32 保存为 CSV

In [26]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
df.to_csv('Data/data.csv', index=False, header=True)

## 33 保存为 CSV｜指定列

In [28]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
  
df.to_csv('Data/data.csv', columns=['name', 'age'], index=False)

## 34 保存为 CSV｜取消索引¶

In [29]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
  
df.to_csv('Data/data.csv', index=False)  #数据保存为 csv 格式至当前目录下（文件名任意），且取消每一行的索引

## 35 保存为 CSV｜标记缺失值

In [38]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
# df
  
df.loc[df['age'] == 22,['name','age']] = 'NA'
# df.loc[df['age'] == 22,'age'] = 'NA'
# np.nan  
# 将 age 为 22 的值标记为缺失值 
df
  
# df.to_csv('Data/data.csv', na_rep='NA', index=False)

  name age
0  Tom  20
1   NA  NA
2  Bob  21

## 36 保存为CSV｜压缩

In [6]:
import gzip  
  
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21], 'salary': [5000, None, 8000]}  
df = pd.DataFrame(data)  
  
with gzip.open('Data/data.csv.gz', 'wt', newline='') as f:  
    df.to_csv(f, index=False, na_rep='数据缺失', float_format='%.2f')

## 37 保存为 Excel

In [5]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21], 'salary': [5000, None, 8000]}  
df = pd.DataFrame(data)  
  
df.to_excel('Data/data.xlsx', index=False)

## 38 保存为 JSON

In [8]:
import json  
  
data = {"name": "Alice", "age": 30, "city": "New York"}  
with open("Data/data.json", "w") as f:  
    json.dump(data, f)

In [3]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21], 'salary': [5000, None, 8000]}  
df = pd.DataFrame(data)  
  
df.to_csv('Data/data.csv', na_rep='数据缺失', float_format='%.2f', index=False)
# na_rep='数据缺失' 表示使用字符串 "数据缺失" 表示缺失值。float_format='%.2f' 表示将浮点数格式化为保留两位小数的字符串。index=False 表示不保存 DataFrame 的索引信息。

## 39  保存为 Markdown

In [1]:
data = [  
    {"name": "Alice", "age": 30, "city": "New York"},  
    {"name": "Bob", "age": 25, "city": "Los Angeles"},  
    {"name": "Charlie", "age": 35, "city": "Chicago"},  
    {"name": "David", "age": 40, "city": "Houston"}  
]  
  
table = "| Name | Age | City |\n"  
for item in data:  
    table += "|---|\n"  
    table += "| {} | {} | {} |\n".format(item["name"], item["age"], item["city"])  
  
print(table)

| Name | Age | City |
|---|
| Alice | 30 | New York |
|---|
| Bob | 25 | Los Angeles |
|---|
| Charlie | 35 | Chicago |
|---|
| David | 40 | Houston |

## 40 保存为 Html

In [13]:
data = [  
    {"name": "Alice", "age": 30, "city": "New York"},  
    {"name": "Bob", "age": 25, "city": "Los Angeles"},  
    {"name": "Charlie", "age": 35, "city": "Chicago"},  
    {"name": "David", "age": 40, "city": "Houston"}  
]  
  
df = pd.DataFrame(data)  
  
html_table = df.to_html(index=False, header=False, bold_rows=False, justify="center")  
  
with open("Data/data.html", "w") as f:  
    f.write(html_table)

## 20230622

# 2 个性化显示设置

# 初始化

In [11]:
import sys
import os
os.chdir('data2')
from inits import initialize,ans
res = initialize("answer-2.txt")

FileNotFoundError: [WinError 2] 系统找不到指定的文件。: 'data2'

In [13]:
!dir

 驱动器 F 中的卷没有标签。
 卷的序列号是 F9CE-5E74

 F:\jupyterfiles\OApractice\data2 的目录

2023/06/22 周四  12:59    <DIR>          .
2023/06/22 周四  12:59    <DIR>          ..
2021/08/23 周一  16:43             2,226 answer-2.txt
2021/08/15 周日  10:51            57,219 data.csv
2021/09/19 周日  15:19             1,542 inits.py
2023/06/22 周四  12:39    <DIR>          __MACOSX
2023/06/25 周日  11:21    <DIR>          __pycache__
               3 个文件         60,987 字节
               4 个目录 301,241,225,216 可用字节

## 加载数据

In [6]:
data = pd.read_csv('data.csv')
data.head(3)

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,...,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,...,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,...,NaN,0,0,0,NaN,NaN,0,0,[],False

## 2-1 基于 option 修改显示设置

### 1 显示全部列

### 2 显示指定行/列

In [ ]:
# 使用loc或iloc方法显示行；使用iloc方法显示列

In [54]:
# data.loc[0:2, :]  # 显示前两行

In [53]:
# data.iloc[:, [0, 2]]  # 显示第一列和第三列
# data.iloc[:3,:]  # 显示3行和所有列

### 3还原行/列显示数

In [58]:
# 设置最大行数为 None  
pd.options.display.max_rows = None  
pd.options.display.max_columns = None
# 显示 DataFrame  
# print(data)

### 4 修改每列最大字符宽度

In [101]:
# isinstance(data['positionName'],str)
# data.iloc[:,1]

In [102]:
# 获取每列的最大字符数  
max_len = data.iloc[:,1].str.len().max()
print(max_len)
# 将列 A 的最大字符数应用到该列  
data.iloc[:,1] = data.iloc[:,1].apply(lambda x: x[:max_len] if isinstance(x, str) else x)  
  
# 打印修改后的 DataFrame  
# print(data)

23

### 5修改小数点精度

In [110]:
# from decimal import Decimal 
import decimal
# 将列 A 的值转换为 Decimal 类型，并指定小数点精度为 4  
data['salary'] = data['salary'].apply(lambda x: Decimal(x).quantize(Decimal('0.0001'), rounding=decimal.ROUND_HALF_UP))  
  
# 打印修改后的 DataFrame  
# data.head(4)

### 6  还原所有显示设置

## 2-2 更多 option 相关设置

### 7 忽略警告   取消pandas相关warning提示

In [ ]:
要取消 pandas 相关警告提示，您可以使用以下方法：

# 使用 pd.options.display.max_colwidth 设置列的最大宽度，以避免出现 Display width too large 警告。例如，
# 设置最大宽度为 100：pd.options.display.max_colwidth = 100。

# 使用 pd.options.display.precision 设置小数点后的精度，以避免出现 Display precision too low 警告。
# 例如，设置精度为 2：pd.options.display.precision = 2。
# 使用 pd.options.display.max_seq_items 设置序列的最大显示项数，以避免出现 Too many items to display 警告。
# 例如，设置最大项数为 100：pd.options.display.max_seq_items = 100。

### 8 设置数值显示条件

In [114]:
# 设置数值显示条件  
def highlight_large_numbers(val):  
    background_color = 'red' if val.value >= 100 else 'white'  
    return 'background-color: %s' % background_color  
  
# 应用样式函数到 DataFrame  
styled_df = data.style.applymap(highlight_large_numbers)  
  
# 打印样式化的 DataFrame  
# print(styled_df)

<pandas.io.formats.style.Styler object at 0x000002474BCEE9E0>

### 9让 pandas 支持 LaTex

In [4]:
import matplotlib.pyplot as plt  
import matplotlib as mpl  
import numpy as np  
  
# 创建一个包含数值的 DataFrame  
df = pd.DataFrame({'A': [50, 100, 150], 'B': [200, 250, 300]})  
# 设置数值显示条件  
def highlight_large_numbers(val):  
    background_color = 'red' if val.value >= 100 else 'white'  
    return 'background-color: %s' % background_color  
  
# 应用样式函数到 DataFrame  
styled_df = df.style.applymap(highlight_large_numbers)  
  
# 创建一个 matplotlib 图表  
mpl.use('TkAgg')  
plt.figure()  
plt.plot(df['A'], df['B'])  
plt.title(r'$\alpha, \beta$')  
  
# 渲染 LaTex 标题  
plt.title(r'$\frac{df}{dx}$', fontsize=16, color='blue')  
  
# 显示图表  
plt.show()

### 10 修改默认绘图引擎

In [12]:
# import plotly.express as px  
# from pandas.plotting import matplotlib_plotting  
  
# 将 pandas 的默认绘图引擎更改为 plotly  
matplotlib_plotting.set_engine('plotly')  
  
# 创建一个包含数值的 DataFrame  
df = pd.DataFrame({'A': [50, 100, 150], 'B': [200, 250, 300]})  
  
# 创建一个散点图  
fig = px.scatter(df, x='A', y='B')  
# 显示图表  
fig.show()
#没有成功20230624

NameError: name 'matplotlib_plotting' is not defined

### 11 还原所有 option 设置

In [16]:
# 还原所有 option 设置  ,这样，pandas 的所有 option 设置将被重置为默认值。
# pd.reset_option_and_clear_cache()

# reset_option_and_clear_cache() 是 pandas 内部的一个方法，它用于将所有 option 设置重置为默认值，并清除内部缓存。不幸的是，这个方法在 pandas 的公共 API 中并没有被暴露出来。

# 如果你想还原 pandas 的 option 设置，你可以尝试以下方法：

# 手动重置每个 option 设置到默认值。你可以在 pandas 文档中查找默认值，然后使用 set_option() 方法设置它们。

# 清除 pandas 的内部缓存。这可以尝试清除累积的 option 设置。你可以通过执行以下代码来清除 pandas 的内部缓存：

  
# pd.core.common.reset_cache()  # 清除 pandas 内部缓存

# 以上两个方法都没成功，以后再看。20230624

## 2-3 基于 style 个性化设置

### 重新加载数据

In [20]:
# 为了方便理解，重新读取data.csv前20行指定列

# 'positionName'
# 'createTime'（设置为时间格式）
# 'salary'
# 'subwayline'
# 'matchScore'
data = pd.read_csv("data.csv", usecols=[
                   'positionName', 'createTime', 'salary', 'subwayline', 'matchScore'], nrows=20, parse_dates=['createTime'])

### 12  隐藏索引¶

In [7]:
# 显示索引列  
pd.set_option('index.hide', False)  
#问题就在上面一句。
  
# 显示数据  
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})  
# print(df)
#有问题，没有成功 20230624

### 13 调整精度

In [8]:
# 将带有小数点的列精度调整为小数点后2位
# 生成示例数据  
df = pd.DataFrame({'column_name': [1.1234, 2.5678, 3.8912]})  
  
# 使用 round() 函数调整精度  
df['column_name'] = df['column_name'].round(2)  
  
# 显示处理后的数据  
print(df)
# 这个代码块会将 column_name 列中的所有值四舍五入为小数点后两位，并输出处理后的数据。

   column_name
0         1.12
1         2.57
2         3.89

#### 14 标记缺失值

In [2]:
# 将缺失值标记为数据缺失
# 生成示例数据  
import numpy as np
data = {'A': [1, 2, None, 4], 'B': [5, None, 7, 8], 'C': [9, 10, 11, None]}  
df = pd.DataFrame(data)  
  
# 将缺失值标记为数据缺失  
df = df.replace(pd.NA, np.nan)  # 仅适用于 Python 3.9+  
# df = df.isna()  # 或者使用 isnull()  
  
# 显示处理后的数据  
print(df)

     A    B     C
0  1.0  5.0   9.0
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0   NaN

### 15 高亮缺失值

In [3]:
import pandas as pd  
import numpy as np  
# 创建包含缺失值的示例数据  
df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [4, np.nan, 6]})  
# 使用 style 属性将缺失值高亮  
highlight_na = lambda x: 'background-color: skyblue' if np.isnan(x) else 'background-color: white'  
# df.style.applymap(highlight_na)

### 16 高亮数值列最大值

In [52]:
import pandas as pd  
import numpy as np  
  
# 创建示例数据  
df = pd.DataFrame({'A': [1, 2, 3, 4, 5] , 'B': [6, 7, 8, 9, 10] ,'C': [11, 12, 13, 14, 15]})  
# 查看类型
df.dtypes  
# df=df.reset_index(drop=True)
# df
# 高亮最大值所在行  
# max_value_row =
# max_value_row = df.sort_values(by=df.columns[1:],ascending=False).tail(1).pipe(lambda x:x.style.background_color_mapper('yellow'))  
# max_value_row
# 打印高亮后的数据  
# print(max_value_row)
# 没有测试通过20230626

A    int64
B    int64
C    int64
dtype: object

### 17 高亮数值列最小值¶

In [60]:
import pandas as pd  
import matplotlib.pyplot as plt  
  
# 创建一个 DataFrame  
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})  
  
# 定义一个高亮最小值的函数  
def highlight_min(row):  
    if row == df.min():  
        return 'background-color: yellow'  
    else:  
        return 'background-color: white'   
# 使用 apply 方法应用函数到 DataFrame 上  
df.style.apply(highlight_min)  
# 显示高亮结果  
plt.show()
###没有测试通过 20230626

### 18 同时高亮最大最小值

In [67]:
import matplotlib.pyplot as plt  
  
# 创建一个 DataFrame  
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})  
  
# 定义一个高亮最大和最小值的函数  
def highlight_min_max(row):  
    if row == df.min() or row == df.max():  
        return 'background-color: yellow'  
    else:  
        return 'background-color: white'    
# 使用 apply 方法应用函数到 DataFrame 上  
df.style.apply(highlight_min_max)  
  
# 显示高亮结果  
plt.show()
###没有测试通过 20230626

### 27 格式化输出日期类型

In [4]:
import pandas as pd  
  
# 读取数据  
df = pd.read_csv('data.csv')  
  
# 格式化 createTime 列  
# df['createTime'] = pd.to_datetime(df['createTime']).dt.strftime('%y年%m月%d日')  
  
# 输出格式化后的数据  
# print(df)

### 28 指定（自定义）格式化数据

In [8]:
import pandas as pd  
  
# 创建示例数据  
data = {  
    '职位名称': ['培训经理/主管（欧美）', '培训与发展经理/培训与发展主管', '培训专员/助理', '新媒体运营（微信+微博）', '培训与发展经理/培训与发展主管（日语）', '其他语种翻译（德语）(职位编号:FY2)', '其他语种翻译（日语）(职位编号:FY3)', '其他语种翻译（日语）(职位编号:FY4)'],  
    '工作经验': ['3-5年', '5-8年', '无经验要求', '3-5年', '5-8年', '无经验要求', '无经验要求', '无经验要求'],  
    '简历链接': ['resumes.com.cn/view/149968.html', 'resumes.com.cn/view/133696.html', 'resumes.com.cn/view/136691.html', 'resumes.com.cn/view/146466.html', 'resumes.com.cn/view/148589.html', 'resumes.com.cn/view/137547.html', 'resumes.com.cn/view/143649.html', 'resumes.com.cn/view/143656.html'],  
    '邮箱': ['zfeng@example.com', 'yang45@example.com', 'yangjun@example.com', 'yangzheng@example.com', 'tianyong@example.net', 'caiyan@example.org', 'fangrong@example.netu', 'fangrong@example.netu'],  
    '手机号': ['13200000001', '15800000002', '13200000003', '15200000004', '13300000005', '15900000006', '18600000007', '18600000007'],  
    '出生日期': ['1998-01-23', '1978-02-28', '1984-11-18', '2012-07-27', '1986-04-22', '1977-12-24', '2014-12-24', '2014-12-24'],  
    '性别': ['女', '女', '男', '男', '男', '女', '女', '女'],  
    'salary': [10000, 7500, None, None, None, None, None, None],  
    'matchScore': [None, None, None, None, None, None, None, None]  
}  
  
df = pd.DataFrame(data)  
  
# 在salary列后添加“元”  
df['salary'] = df['salary'].apply(lambda x: str(x) + '元')  
  
# 对matchScore列保留两位小数并添加“分”  
df['matchScore'] = df['matchScore'].apply(lambda x: round(x, 2) if x is not None else x)  
df['matchScore'] = df['matchScore'].apply(lambda x: str(x) + '分')  
  
# print(df)

## 3 数据预览与预处理。

In [14]:
import sys
import os
import pandas as pd
os.chdir('../data3')
from inits import initialize,ans
res = initialize("answer-3.txt")

***************正在初始化***************
*************读取到配置文件*************
***************初始化成功***************

### 加载数据

In [15]:
df = pd.read_excel("TOP250.xlsx")

### 数据查看

### 1、查看数据维度

In [17]:
# print(df.shape)
df.shape

(262, 11)

### 2 随机查看5条数据

In [20]:
# 随机查看5条数据  
df_sample = df.sample(n=5)
# df_sample

###  3 查看数据前后5行

In [28]:
# df.head(5)
# df.tail(5)

### 4 查看数据的基本信息

In [30]:
# df.info()

### 5 查看数据统计信息｜数值

In [31]:
import numpy as np  
  
# 生成一个包含随机数的数据集  
data = np.random.randint(0, 100, size=100)  
  
# 计算数据集的平均值  
mean = np.mean(data)  
print("平均值：", mean)  
  
# 计算数据集的中位数  
median = np.median(data)  
print("中位数：", median)  
  
# 计算数据集的标准差  
std = np.std(data)  
print("标准差：", std)  
  
# 计算数据集的方差  
var = np.var(data)  
print("方差：", var)

平均值： 52.88
中位数： 52.0
标准差： 28.413123728305553
方差： 807.3056000000001

### 6查看数据统计信息｜整体

In [33]:
# df.describe()

## 缺失值处理

### 8计算缺失值｜总计

In [38]:
import pandas as pd  
  
# 读取数据集  
data = df
  
# 检查数据集中是否有缺失值  
if data.isnull().values.any():  
    print("数据集中存在缺失值")  
  
    # 计算缺失值的总计  
    missing_values_total = data.isnull().sum().sum()
    print("缺失值的总计：", missing_values_total)  
else:  
    print("数据集中没有缺失值")

数据集中存在缺失值
缺失值的总计： 26

#### 9 - 计算缺失值｜分列

In [40]:
import pandas as pd  
  
# 读取数据集  
data = df  
  
# 计算每列的缺失值数量  
missing_values_per_column = data.isnull().sum()  
  
# 输出每列的缺失值数量  
# print(missing_values_per_column)

In [3]:
print(pd.__version__)

2.0.2

!pwd

In [2]:
# 8-2
import pandas as pd  
  
# 定义起始日期和结束日期  
start_date = pd.Timestamp('2021-01-01')  
end_date = pd.Timestamp('2021-09-01')  
  
# 生成日期列表  
date_list = pd.date_range(start_date, end_date).tolist()  
  
# 输出日期列表  
# print(date_list)