In [ ]:
#https://www.heywhale.com/mw/project/6146c0318447b8001769ff20/content
#2023061802

# 1-1 数据读取

## 1 读取excel文件

In [13]:
import pandas as pd 
# import openpyxl
filepath='Data/豆瓣书籍TOP250-20230604.xlsx'
Tatanic='Data/Tatanic.csv'

In [4]:
import pandas as pd 
# import openpyxl
  
# 读取 Excel 文件  
df = pd.read_excel('Data/豆瓣书籍TOP250-20230604.xlsx', sheet_name='Sheet1')  
  
# 显示前 5 行数据  
# print(df.head(5))

## 2 读取 Excel 文件｜指定位置

In [7]:
# 读取 Excel 文件并指定位置  
df = pd.read_excel('Data/豆瓣书籍TOP250-20230604.xlsx', sheet_name='Sheet1', skiprows=[0, 1], usecols=[0, 2])  
  
# 显示前 5 行数据  
# print(df.head())
# df.head(5)

## 3读取 Excel 文件｜指定行（顺序）

In [11]:
# 要读取的行号（按顺序）  
row_numbers = [0, 2, 4, 6]  
  
# 将行号转换为列表  
skiprows = list(map(lambda x: x + 1, row_numbers))  
  
# 读取 Excel 文件并指定行号  
df = pd.read_excel('Data/豆瓣书籍TOP250-20230604.xlsx', sheet_name='Sheet1', skiprows=skiprows)  
  
# 显示前 5 行数据  
# print(df.head())
# df.head()

## 4读取 Excel 文件｜指定行（跳过）

In [13]:
# 跳过前两行  
skiprows = 2  
filepath='Data/豆瓣书籍TOP250-20230604.xlsx'
# 读取 Excel 文件并跳过行  
df = pd.read_excel(filepath, sheet_name='Sheet1', skiprows=skiprows)  
  
# 显示前 5 行数据  
# print(df.head())

## 5 读取 Excel 文件｜指定行（条件）

In [16]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 基于条件选择行  
df_filtered = df.query('书籍排名 > 10')  
  
# 显示前 5 行数据  
# print(df_filtered.head())

## 6 读取 Excel 文件｜指定列（列号）

In [20]:
# 要选择的列的列号  
column_numbers = [0, 2, 4]  
  
# 将列号转换为列表  
usecols = list(map(lambda x: x + 1, column_numbers))  
  
# 读取 Excel 文件并指定列号  
df = pd.read_excel(filepath, sheet_name='Sheet1', usecols=usecols)  
  
# 显示前 5 行数据  
# print(df.head())

## 7 读取 Excel 文件｜指定列（列名）

In [23]:
# 要选择的列的列名  
column_names = ['书籍名称', '书籍作者', '书籍出版社']  
  
# 将列名转换为列表  
usecols = column_names  
  
# 读取 Excel 文件并指定列名  
df = pd.read_excel(filepath, sheet_name='Sheet1', usecols=usecols)  
  
# 显示前 5 行数据  
# print(df.head())

## 8 读取 Excel 文件｜指定列（匹配）

In [26]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 指定列  
column_name = '书籍名称'  
df =df[column_name]
  
# 打印结果  
print(df)

0               红楼梦
1                活着
2              1984
3              百年孤独
4              三体全集
           ...
245          李光耀观天下
246            步履不停
247         分成两半的子爵
248    跨越边界的社区（修订版）
249           此生未完成
Name: 书籍名称, Length: 250, dtype: object

## 9 读取 Excel 文件｜指定索引

In [27]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 指定索引  
index_number = 3  
  
# 根据索引匹配读取  
df = df.iloc[index_number]  
  
# 打印结果  
print(df)

书籍排名                                               4
书籍名称                                            百年孤独
书籍详情链接地址    https://book.douban.com/subject/6082808/
书籍作者                           [哥伦比亚] 加西亚·马尔克斯 / 范晔
书籍出版社                                        南海出版公司
书籍年份                                         2011-6
书籍价格                                          39.50元
书籍评分                                             9.3
评分人数                                       403170人评价
书籍感悟                                     魔幻现实主义文学代表作
Name: 3, dtype: object

## 10 读取 Excel 文件｜指定标题

In [7]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 指定标题  
# header_name = ['书籍名称']
  
# 根据标题匹配读取  
# df = df[df.columns == header_name]  
  
# 打印结果  
# print(df)
# no result

## 11 读取 Excel 文件｜缺失值转换

In [10]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 将缺失值转换为其他值  
df = df.fillna(0)  
# 将指定列的缺失值替换为 0  
# df['column_name'] = df['column_name'].fillna(0)
  
# 打印结果  
# print(df)

## 12 读取 Excel 文件｜缺失值标记

In [35]:
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 将指定列中值为 [] 的数据标记为缺失值  
df['书籍感悟'] = df['书籍感悟'].apply(lambda x: pd.NA if x == '[]' else x)  
df['书籍评分'] = df['书籍评分'].apply(lambda x: 9.8 if x ==9.3 else x)    
# 打印结果  
# print(df)
df.query("书籍名称=='三国演义（全二册）'")

,书籍排名,书籍名称,书籍详情链接地址,书籍作者,书籍出版社,书籍年份,书籍价格,书籍评分,评分人数,书籍感悟
9,10,三国演义（全二册）,https://book.douban.com/subject/1019568/,[明] 罗贯中,人民文学出版社,1998-05,39.50元,9.8,159748人评价,NaN

## 13 读取 Excel 文件｜忽略缺失值

In [50]:
# 读取 Excel 文件并忽略缺失值  

df = pd.read_excel(filepath, sheet_name='Sheet1', skiprows=lambda x: x == 0, keep_default_na=False)  
# df.head(10)
# 打印结果  
# print(df)
# df['书籍感悟'] = df['书籍感悟'].apply(lambda x: pd.NA if x == '[]' else x)  
# df
# df['书籍评分'] = df['书籍评分'].apply(lambda x: 9.8 if x ==9.35 else x)    
# df.query("书籍名称=='三国演义（全二册）'")

# 在上面的代码中，read_excel() 函数用于读取 Excel 文件。sheet_name 参数指定要读取的工作表的名称或索引。skiprows 参数使用一个 lambda 函数来跳过第一行（标题行），因为第一行通常包含列名，而 keep_default_na 参数设置为 False 表示忽略缺失值。请将 your_file_path.xlsx 替换为实际文件路径。最后，打印结果。

## 14 读取 Excel 文件｜指定格式

In [11]:
# 读取 Excel 文件并指定格式  
df = pd.read_excel(filepath, sheet_name='Sheet1', converters={'书籍价格': str})  
  
# 打印结果  
# print(df)
# df.describe()

## 15 读取 Excel 文件｜指定格式（时间）

In [12]:
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 将 createTime 列设置为字符串格式  
df['书籍年份'] = df['书籍年份'].astype(str)

## 16 读取 Excel 文件｜分块读取

In [21]:
# 读取 Excel 文件  
df = pd.read_excel(filepath, sheet_name='Sheet1')  
  
# 返回可迭代对象，每次读取 10 行  
rows = df.iterrows()  
# rows
# 打印前 10 行数据  
for i, row in enumerate(rows):  
    if i < 3:  
        pass
#         print(row)
#           print("ok")

## 17 读取 txt 文件｜常规

In [30]:
# Tatanic
# 获取当前工作目录 
import os
current_dir = os.getcwd()+"\\Data\\"
  
# 拼接文件路径  
file_path = os.path.join(current_dir, 'Tatanic.csv')  
  
# 打开文件并读取内容  
with open(file_path, 'r') as f:  
    content = f.read()  
#     print(content)
    pass

## 18 读取 txt 文件｜含中文

In [34]:
import os
current_dir = os.getcwd()+"\\Data\\"
  
# 拼接文件路径  
file_path = os.path.join(current_dir, 'test.txt')  
with open(file_path, 'r', encoding='utf-8') as f:  
    content = f.read()  
    print(content)

我爱北京天安门
我爱北京天安门
我爱北京天安门
天安门上太阳升。
我爱北京天安门。

## 19 读取 JSON 文件

In [44]:
import json  
  
# 打开 JSON 文件并读取数据  
with open('Data\\test.json','r',encoding='utf-8') as f:  
    data = json.load(f)    
print(data)

{'name': 'John Smith', 'age': 30, 'isMarried': True, 'hobbies': ['reading', 'hiking', 'swimming'], 'address': {'street': '123 Main St', 'city': 'Anytown 重庆', 'state': 'CA', 'zip': '12345'}}

## 20 读取 HDF5 文件

In [5]:
import h5py  
  
# 创建一个新的HDF5文件  
f = h5py.File('Data/example.hdf5', 'w')  
# f.close()  
# 在文件中创建一个名为'dataset'的数据集  
dset = f.create_dataset('dataset', data=[1, 2, 3, 4, 5])  
# # # 关闭文件  
# f.close()
###读取 HDF5 文件
# 打开HDF5文件  
f = h5py.File('Data/example.hdf5', 'r')  
  
# 获取名为'dataset'的数据集  
dset = f['dataset']  
  
# 读取数据集中的数据  
data = dset[:]  
print(data)
# 关闭文件  
f.close()

[1 2 3 4 5]

## 21 从剪贴板读取数据

In [11]:
import pyperclip  
import os
current_dir = os.getcwd()+"\\Data\\"
  
# 拼接文件路径  
file_path = os.path.join(current_dir, 'Tatanic.csv')  

#拷贝到剪贴板
with open(file_path, 'r') as f:  
    text = f.read()  
# 将文本复制到剪贴板  
pyperclip.copy(text)
  
# 从剪贴板读取文本  
text = pyperclip.paste()  
  
# 将文本分割为行  
lines = text.split('\n')  
  
# 创建 DataFrame  
df = pd.DataFrame({'text': lines})  
  
# 输出 DataFrame  
# print(df)
# df

## 22 从 SQL 读取数据

In [7]:
import pymysql
mysql_conn = pymysql.connect(host= '127.0.0.1', port= 3317, user= 'root', password= 'whgdev', db= 'pydata')
df = pd.read_sql('SELECT * FROM polls_choice', mysql_conn)  
  
# 关闭数据库连接  
mysql_conn.close()
# df

C:\Users\admin\AppData\Local\Temp\ipykernel_5816\2995642152.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM polls_choice', mysql_conn)

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
# %reload_ext sql

In [13]:
%sql mysql+pymysql://root:whgdev@127.0.0.1:3317/pydata

In [17]:
%%sql
# SELECT * FROM polls_choice

 * mysql+pymysql://root:***@127.0.0.1:3317/pydata
0 rows affected.

[]

## 23 从网页读取数据

In [30]:
# 直接从东京奥运会官网读取奖牌榜数据。
import requests  

  
url = "https://api.tokyo2020.org/奖牌榜?access_token=your_access_token"  
headers = {  
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"  
}  
  
# response = requests.get(url, headers=headers)  
# data = response.json()  
  
# # print(data)
# 没成功，稍后研究

##  24 循环读取数据

In [33]:
import os  
import pandas as pd  
  
# 获取当前工作目录  
current_dir = os.getcwd()  
  
# 获取demodata文件夹路径  
demodata_dir = os.path.join(current_dir, 'Data')  
  
# 获取demodata文件夹下所有Excel文件路径  
excel_files = [os.path.join(demodata_dir, f) for f in os.listdir(demodata_dir) if f.endswith('.xlsx')]  
  
# 循环读取每个Excel文件  
for file in excel_files:  
    df = pd.read_excel(file)  
    # 在这里可以对读取到的数据进行处理  
#     print(df)
    pass

# 1-2 数据创建

## 25 从列表创建

In [35]:
import pandas as pd  
  
# 定义列表  
my_list = ["John", "Doe", "25", "Male", "Early Bird"]  
  
# 将列表转换为 DataFrame，并指定列名为"早起Python"  
df = pd.DataFrame(my_list, columns=["早起Python"])  
  
# 打印 DataFrame  
print(df)

     早起Python
0        John
1         Doe
2          25
3        Male
4  Early Bird

##  26从列表创建｜嵌套列表

In [44]:
import pandas as pd  
  
# 定义列表  
my_list = l = [[1,2,3],[4,5,6]]
  
# 将列表转换为 DataFrame，并指定行索引为"公众号"、"早起Python"  
df = pd.DataFrame(my_list,index=["公众号", "早起Python"], columns=["早起Python","早起Python2","早起Python2"])  
# df = pd.DataFrame(my_list, columns=["早起Python","早起Python2","早起Python2"])  
  
# 打印 DataFrame  
print(df)

          早起Python  早起Python2  早起Python2
公众号              1          2          3
早起Python         4          5          6

## 27 从字典创建

In [47]:
# 定义一个字典  
my_dict = {'name': ['John', 'Doe'], 'age': [25, 30], 'gender': ['Male', 'Female']}  
  
# 将字典转换为DataFrame  
df = pd.DataFrame(my_dict)  
  
# 打印DataFrame  
print(df)

   name  age  gender
0  John   25    Male
1   Doe   30  Female

## 28 从字典创建｜指定索引

In [48]:
# 定义一个字典  
my_dict = {'name': ['John', 'Doe'], 'age': [25, 30], 'gender': ['Male', 'Female']}  
  
# 将字典转换为DataFrame  
df = pd.DataFrame(my_dict, index=['Jony', 'Dre'])  
  
# 打印DataFrame  
print(df)

      name  age  gender
Jony  John   25    Male
Dre    Doe   30  Female

## 29 从字典创建｜指定列名

In [2]:
#  定义一个字典  
my_dict = {'name': ['John', 'Doe'], 'age': [25, 30], 'gender': ['Male', 'Female']}  
  
# 将字典转换为DataFrame，并指定索引顺序为 d、b、a，列名为"two"、"three"  
df = pd.DataFrame(my_dict, index=['c', 'b'],columns=['name','age','gender'])  
df.columns=['name1','name2','name3']
# #  修改列名为 "old_column_name" 和 "new_column_name"  
# df = df.rename(columns={'A': 'old_column_name', 'B': 'new_column_name'})  
  
# # 修改索引名为 "old_index_name" 和 "new_index_name"  
# df = df.rename(index={'C': 'old_index_name', 'D': 'new_index_name'})  
# 打印DataFrame  
print(df)
# , columns=['two', 'three','four']

  name1  name2   name3
c  John     25    Male
b   Doe     30  Female

## 30 从字典创建｜字典列表

In [19]:
my_dict = {'key1': [1, 2, 3], 'key2': [4, 5, 6], 'key3': [7, 8, 9]}
df = pd.DataFrame(my_dict.values(), index=my_dict.keys(), columns=range(len(my_dict['key1'])))
# df
################
data = {  
    'A': [1, 2, 3],  
    'B': [4, 5, 6],  
    'C': [7, 8, 9]  
}  
  
df = pd.DataFrame(data)
df.columns=['a1','a2','a3']
# df = df.set_index(['A','B'])
# df =df.set_index(0)
df

   a1  a2  a3
0   1   4   7
1   2   5   8
2   3   6   9

## 31从集合创建

In [23]:
my_tuple = (('1', 'A'), ('2', 'B'), ('3', 'C'), ('4', 'D'))
df = pd.DataFrame(my_tuple, index=[1, 2, 3, 4], columns=[1, 2])
# df

# 1-3 数据存储

##  32 保存为 CSV

In [26]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
df.to_csv('Data/data.csv', index=False, header=True)

## 33 保存为 CSV｜指定列

In [28]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
  
df.to_csv('Data/data.csv', columns=['name', 'age'], index=False)

## 34 保存为 CSV｜取消索引¶

In [29]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
  
df.to_csv('Data/data.csv', index=False)  #数据保存为 csv 格式至当前目录下（文件名任意），且取消每一行的索引

## 35 保存为 CSV｜标记缺失值

In [38]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21]}  
df = pd.DataFrame(data)  
# df
  
df.loc[df['age'] == 22,['name','age']] = 'NA'
# df.loc[df['age'] == 22,'age'] = 'NA'
# np.nan  
# 将 age 为 22 的值标记为缺失值 
df
  
# df.to_csv('Data/data.csv', na_rep='NA', index=False)

  name age
0  Tom  20
1   NA  NA
2  Bob  21

## 36 保存为CSV｜压缩

In [6]:
import gzip  
  
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21], 'salary': [5000, None, 8000]}  
df = pd.DataFrame(data)  
  
with gzip.open('Data/data.csv.gz', 'wt', newline='') as f:  
    df.to_csv(f, index=False, na_rep='数据缺失', float_format='%.2f')

## 37 保存为 Excel

In [5]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21], 'salary': [5000, None, 8000]}  
df = pd.DataFrame(data)  
  
df.to_excel('Data/data.xlsx', index=False)

## 38 保存为 JSON

In [8]:
import json  
  
data = {"name": "Alice", "age": 30, "city": "New York"}  
with open("Data/data.json", "w") as f:  
    json.dump(data, f)

In [3]:
data = {'name': ['Tom', 'Jerry', 'Bob'], 'age': [20, 22, 21], 'salary': [5000, None, 8000]}  
df = pd.DataFrame(data)  
  
df.to_csv('Data/data.csv', na_rep='数据缺失', float_format='%.2f', index=False)
# na_rep='数据缺失' 表示使用字符串 "数据缺失" 表示缺失值。float_format='%.2f' 表示将浮点数格式化为保留两位小数的字符串。index=False 表示不保存 DataFrame 的索引信息。

## 39  保存为 Markdown

In [1]:
data = [  
    {"name": "Alice", "age": 30, "city": "New York"},  
    {"name": "Bob", "age": 25, "city": "Los Angeles"},  
    {"name": "Charlie", "age": 35, "city": "Chicago"},  
    {"name": "David", "age": 40, "city": "Houston"}  
]  
  
table = "| Name | Age | City |\n"  
for item in data:  
    table += "|---|\n"  
    table += "| {} | {} | {} |\n".format(item["name"], item["age"], item["city"])  
  
print(table)

| Name | Age | City |
|---|
| Alice | 30 | New York |
|---|
| Bob | 25 | Los Angeles |
|---|
| Charlie | 35 | Chicago |
|---|
| David | 40 | Houston |

## 40 保存为 Html

In [13]:
data = [  
    {"name": "Alice", "age": 30, "city": "New York"},  
    {"name": "Bob", "age": 25, "city": "Los Angeles"},  
    {"name": "Charlie", "age": 35, "city": "Chicago"},  
    {"name": "David", "age": 40, "city": "Houston"}  
]  
  
df = pd.DataFrame(data)  
  
html_table = df.to_html(index=False, header=False, bold_rows=False, justify="center")  
  
with open("Data/data.html", "w") as f:  
    f.write(html_table)

## 20230622

# 2 个性化显示设置

# 初始化

In [6]:
import sys
import os
os.chdir('data2')
from inits import initialize,ans
res = initialize("answer-2.txt")

***************正在初始化***************
*************读取到配置文件*************
***************初始化成功***************

## 加载数据

In [64]:
data = pd.read_csv('data.csv')
data.head(3)

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,skillLables,positionLables,industryLables,createTime,formatCreateTime,district,businessZones,salary,workYear,jobNature,education,positionAdvantage,imState,lastLogin,publisherId,approve,subwayline,stationname,linestaion,latitude,longitude,hitags,resumeProcessRate,resumeProcessDay,score,newScore,matchScore,matchScoreExplain,query,explain,isSchoolJob,adWord,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,"['SQL', '数据库', '数据运营', 'BI']","['电商', '社交', 'SQL', '数据库', '数据运营', 'BI']","['电商', '社交', 'SQL', '数据库', '数据运营', 'BI']",2020/3/16 11:00,11:00发布,余杭区,['仓前'],37500,1-3年,全职,本科,五险一金、弹性工作、带薪年假、年度体检,today,2020/3/16 11:00,12022406,1,NaN,NaN,NaN,30.278421,120.005922,NaN,50,1,233,0,15.101875,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,"['算法', '数据架构']","['算法', '数据架构']",[],2020/3/16 11:08,11:08发布,滨江区,"['西兴', '长河']",15000,3-5年,全职,本科,"六险一金,定期体检,丰厚年终",disabled,2020/3/16 11:08,5491688,1,NaN,NaN,NaN,30.188041,120.201179,NaN,23,1,176,0,32.559414,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,"['数据库', '数据分析', 'SQL']","['数据库', 'SQL']",[],2020/3/16 10:33,10:33发布,江干区,"['四季青', '钱江新城']",3500,1-3年,全职,本科,五险一金 周末双休 不加班 节日福利,today,2020/3/16 10:33,5322583,1,4号线,江锦路,4号线_城星路;4号线_市民中心;4号线_江锦路,30.241521,120.212539,NaN,11,4,80,0,14.972357,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False

## 2-1 基于 option 修改显示设置

### 1 显示全部列

### 2 显示指定行/列

In [ ]:
# 使用loc或iloc方法显示行；使用iloc方法显示列

In [54]:
# data.loc[0:2, :]  # 显示前两行

In [53]:
# data.iloc[:, [0, 2]]  # 显示第一列和第三列
# data.iloc[:3,:]  # 显示3行和所有列

### 3还原行/列显示数

In [58]:
# 设置最大行数为 None  
pd.options.display.max_rows = None  
pd.options.display.max_columns = None
# 显示 DataFrame  
# print(data)

### 4 修改每列最大字符宽度

In [101]:
# isinstance(data['positionName'],str)
# data.iloc[:,1]

In [102]:
# 获取每列的最大字符数  
max_len = data.iloc[:,1].str.len().max()
print(max_len)
# 将列 A 的最大字符数应用到该列  
data.iloc[:,1] = data.iloc[:,1].apply(lambda x: x[:max_len] if isinstance(x, str) else x)  
  
# 打印修改后的 DataFrame  
# print(data)

23

### 5修改小数点精度

In [110]:
# from decimal import Decimal 
import decimal
# 将列 A 的值转换为 Decimal 类型，并指定小数点精度为 4  
data['salary'] = data['salary'].apply(lambda x: Decimal(x).quantize(Decimal('0.0001'), rounding=decimal.ROUND_HALF_UP))  
  
# 打印修改后的 DataFrame  
# data.head(4)

### 6  还原所有显示设置

## 2-2 更多 option 相关设置

### 7 忽略警告   取消pandas相关warning提示

In [ ]:
要取消 pandas 相关警告提示，您可以使用以下方法：

# 使用 pd.options.display.max_colwidth 设置列的最大宽度，以避免出现 Display width too large 警告。例如，
# 设置最大宽度为 100：pd.options.display.max_colwidth = 100。

# 使用 pd.options.display.precision 设置小数点后的精度，以避免出现 Display precision too low 警告。
# 例如，设置精度为 2：pd.options.display.precision = 2。
# 使用 pd.options.display.max_seq_items 设置序列的最大显示项数，以避免出现 Too many items to display 警告。
# 例如，设置最大项数为 100：pd.options.display.max_seq_items = 100。

### 8 设置数值显示条件

In [114]:
# 设置数值显示条件  
def highlight_large_numbers(val):  
    background_color = 'red' if val.value >= 100 else 'white'  
    return 'background-color: %s' % background_color  
  
# 应用样式函数到 DataFrame  
styled_df = data.style.applymap(highlight_large_numbers)  
  
# 打印样式化的 DataFrame  
# print(styled_df)

<pandas.io.formats.style.Styler object at 0x000002474BCEE9E0>

### 9让 pandas 支持 LaTex

In [116]:
import matplotlib.pyplot as plt  
import matplotlib as mpl  
import numpy as np  
  
# 创建一个包含数值的 DataFrame  
df = pd.DataFrame({'A': [50, 100, 150], 'B': [200, 250, 300]})  
  
# 设置数值显示条件  
def highlight_large_numbers(val):  
    background_color = 'red' if val.value >= 100 else 'white'  
    return 'background-color: %s' % background_color  
  
# 应用样式函数到 DataFrame  
styled_df = df.style.applymap(highlight_large_numbers)  
  
# 创建一个 matplotlib 图表  
mpl.use('TkAgg')  
plt.figure()  
plt.plot(df['A'], df['B'])  
plt.title(r'$\alpha, \beta$')  
  
# 渲染 LaTex 标题  
plt.title(r'$\frac{df}{dx}$', fontsize=16, color='blue')  
  
# 显示图表  
plt.show()

In [112]:
data

,positionId,positionName,companyId,companySize,industryField,financeStage,companyLabelList,firstType,secondType,thirdType,skillLables,positionLables,industryLables,createTime,formatCreateTime,district,businessZones,salary,workYear,jobNature,education,positionAdvantage,imState,lastLogin,publisherId,approve,subwayline,stationname,linestaion,latitude,longitude,hitags,resumeProcessRate,resumeProcessDay,score,newScore,matchScore,matchScoreExplain,query,explain,isSchoolJob,adWord,plus,pcShow,appShow,deliver,gradeDescription,promotionScoreExplain,isHotHire,count,aggregatePositionIds,famousCompany
0,6802721,数据分析,475770,50-150人,"移动互联网,电商",A轮,"['绩效奖金', '带薪年假', '定期体检', '弹性工作']",产品|需求|项目类,数据分析,数据分析,"['SQL', '数据库', '数据运营', 'BI']","['电商', '社交', 'SQL', '数据库', '数据运营', 'BI']","['电商', '社交', 'SQL', '数据库', '数据运营', 'BI']",2020/3/16 11:00,11:00发布,余杭区,['仓前'],37500.0000,1-3年,全职,本科,五险一金、弹性工作、带薪年假、年度体检,today,2020/3/16 11:00,12022406,1,NaN,NaN,NaN,30.278421,120.005922,NaN,50,1,233,0,15.101875,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
1,5204912,数据建模,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,"['算法', '数据架构']","['算法', '数据架构']",[],2020/3/16 11:08,11:08发布,滨江区,"['西兴', '长河']",15000.0000,3-5年,全职,本科,"六险一金,定期体检,丰厚年终",disabled,2020/3/16 11:08,5491688,1,NaN,NaN,NaN,30.188041,120.201179,NaN,23,1,176,0,32.559414,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
2,6877668,数据分析,100125,2000人以上,"移动互联网,企业服务",上市公司,"['节日礼物', '年底双薪', '股票期权', '带薪年假']",产品|需求|项目类,数据分析,数据分析,"['数据库', '数据分析', 'SQL']","['数据库', 'SQL']",[],2020/3/16 10:33,10:33发布,江干区,"['四季青', '钱江新城']",3500.0000,1-3年,全职,本科,五险一金 周末双休 不加班 节日福利,today,2020/3/16 10:33,5322583,1,4号线,江锦路,4号线_城星路;4号线_市民中心;4号线_江锦路,30.241521,120.212539,NaN,11,4,80,0,14.972357,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
3,6496141,数据分析,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,[],['电商'],['电商'],2020/3/16 10:10,10:10发布,江干区,NaN,45000.0000,3-5年,全职,本科,年终奖等,threeDays,2020/3/16 10:10,9814560,1,1号线,文泽路,1号线_文泽路,30.299404,120.350304,NaN,100,1,68,0,12.874153,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
4,6467417,数据分析,29211,2000人以上,物流丨运输,上市公司,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,"['BI', '数据分析', '数据运营']","['BI', '数据运营']",[],2020/3/16 9:56,09:56发布,余杭区,['仓前'],30000.0000,3-5年,全职,大专,五险一金,disabled,2020/3/16 9:56,6392394,1,NaN,NaN,NaN,30.282952,120.009765,NaN,20,1,66,0,12.755375,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
5,6882347,数据分析,94826,50-150人,"移动互联网,社交",B轮,"['股票期权', '扁平管理', '五险一金', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,"['BI', '可视化', '数据分析', '数据库']","['音乐', '直播', 'BI', '可视化', '数据库']","['音乐', '直播', 'BI', '可视化', '数据库']",2020/3/16 9:54,09:54发布,余杭区,NaN,50000.0000,1-3年,全职,本科,团建 野生蹦迪 文艺咖 声音发烧友,threeDays,2020/3/16 9:54,11484869,1,NaN,NaN,NaN,30.275854,119.997073,NaN,16,1,66,0,12.718732,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
6,6841659,数据分析,348784,50-150人,"移动互联网,电商",A轮,"['大牛团队', '扁平管理', '年底双薪', '股票期权']",产品|需求|项目类,数据分析,数据分析,[],['工具软件'],['工具软件'],2020/3/16 9:41,09:41发布,萧山区,['宁围'],30000.0000,1-3年,全职,本科,大牛团队 大数据产品,threeDays,2020/3/16 9:41,15009222,1,NaN,NaN,NaN,30.203631,120.247683,NaN,100,1,65,0,12.615116,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
7,6764018,数据建模工程师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,建模,"['Hadoop', 'Spark', 'MySQL', 'Oracle']","['云计算', '大数据', 'Hadoop', 'Spark', 'MySQL', 'Or...","['云计算', '大数据', 'Hadoop', 'Spark', 'MySQL', 'Or...",2020/3/16 11:18,11:18发布,西湖区,"['翠苑', '文一路', '古墩路']",35000.0000,应届毕业生,全职,不限,16-18薪 大数据A股上市公司,today,2020/3/16 11:02,158057,1,2号线,丰潭路,2号线_古翠路;2号线_丰潭路,30.290310,120.114560,NaN,1,1,47,0,3.033237,NaN,NaN,NaN,1,0,NaN,0,0,0,NaN,NaN,0,0,[],True
8,6458372,数据分析专家,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,其他数据分析,"['数据分析', '数据运营']","['电商', '广告营销', '数据分析', '数据运营']","['电商', '广告营销', '数据分析', '数据运营']",2020/3/16 10:57,10:57发布,余杭区,NaN,60000.0000,5-10年,全职,本科,六险一金、境内外旅游、带薪年假、培训发展,today,2020/3/16 9:51,7542546,1,NaN,NaN,NaN,30.281850,120.015690,NaN,83,1,24,0,1.141952,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
9,6786904,数据分析师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,BI工程师,"['Hive', '数据挖掘', '数据分析', 'SQLServer']","['企业服务', '大数据', 'Hive', '数据挖掘', '数据分析', 'SQLSe...","['企业服务', '大数据', 'Hive', '数据挖掘', '数据分析', 'SQLSe...",2020/3/16 11:18,11:18发布,西湖区,"['翠苑', '文一路', '古墩路']",40000.0000,1-3年,全职,本科,核心业务，季度奖，年终奖,today,2020/3/16 11:02,158057,1,2号线,丰潭路,2号线_古翠路;2号线_丰潭路,30.290310,120.114560,NaN,1,1,18,0,1.177361,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
10,6804629,数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",产品|需求|项目类,数据分析,数据分析,['数据分析'],"['电商', '广告营销', '数据分析']","['电商', '广告营销', '数据分析']",2020/3/16 10:57,10:57发布,余杭区,NaN,30000.0000,不限,全职,本科,六险一金 旅游 带薪年假 培训发展 双休,today,2020/3/16 9:51,7542546,1,NaN,NaN,NaN,30.281850,120.015690,NaN,83,1,17,0,1.161869,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
11,6847013,大数据分析工程师(J11108),55046,2000人以上,"移动互联网,企业服务",上市公司,"['技能培训', '年底双薪', '带薪年假', '岗位晋升']",开发|测试|运维类,数据开发,数据分析,['数据分析'],['数据分析'],[],2020/3/16 9:25,09:25发布,西湖区,NaN,30000.0000,应届毕业生,全职,本科,六险一金 带薪年假 年度体检 周末双休,today,2020/3/16 9:25,7722595,1,2号线,武林门,2号线_武林门;2号线_沈塘桥,30.278790,120.145780,NaN,0,0,17,0,4.245066,NaN,NaN,NaN,1,0,NaN,0,0,0,NaN,NaN,0,0,[],False
12,6763962,数据分析工程师,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",开发|测试|运维类,数据开发,数据分析,"['Oracle', 'Hadoop', 'Spark', 'MySQL']","['云计算', '大数据', 'Oracle', 'Hadoop', 'Spark', 'M...","['云计算', '大数据', 'Oracle', 'Hadoop', 'Spark', 'M...",2020/3/16 11:18,11:18发布,西湖区,"['翠苑', '文一路', '古墩路']",20000.0000,不限,全职,本科,16-18薪 大数据A股上市公司,today,2020/3/16 11:02,158057,1,2号线,丰潭路,2号线_古翠路;2号线_丰潭路,30.290310,120.114560,NaN,1,1,16,0,1.091051,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
13,6804489,资深数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",开发|测试|运维类,数据开发,数据分析,['数据分析'],"['电商', '数据分析']","['电商', '数据分析']",2020/3/16 10:57,10:57发布,余杭区,NaN,30000.0000,3-5年,全职,本科,六险一金 旅游 带薪年假 培训发展 双休,today,2020/3/16 9:51,7542546,1,NaN,NaN,NaN,30.281850,120.015690,NaN,83,1,16,0,1.075559,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
14,6657285,数据分析师,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",产品|需求|项目类,数据分析,数据分析,['BI'],['BI'],[],2020/3/16 10:59,10:59发布,西湖区,NaN,37500.0000,1-3年,全职,硕士,SaaS行业前景,today,2020/3/16 10:59,4169726,1,NaN,NaN,NaN,30.256826,120.087836,NaN,100,1,16,0,1.053428,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
15,6882983,产品运营（偏数据分析）,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",运营|编辑|客服类,运营,数据运营,"['数据分析', '产品运营']","['数据分析', '产品运营']",[],2020/3/16 10:59,10:59发布,西湖区,['西溪'],27500.0000,3-5年,全职,本科,上市公司 五险一金 氛围好 发展空间,today,2020/3/16 10:59,4169726,1,NaN,NaN,NaN,30.256956,120.086588,NaN,100,1,15,0,1.015806,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
16,6486988,资深数据分析师（杭州）,7461,2000人以上,企业服务,上市公司,"['工程师氛围', '弹性工作', '扁平管理', '上班不打卡']",开发|测试|运维类,数据开发,数据分析,"['Hive', 'Oracle', 'Spark', 'NLP']","['Hive', 'Oracle', 'Spark', 'NLP']",[],2020/3/16 10:59,10:59发布,西湖区,NaN,37500.0000,3-5年,全职,本科,行业前景，晋升空间,today,2020/3/16 10:59,4169726,1,NaN,NaN,NaN,30.256826,120.087836,NaN,100,1,15,0,1.009167,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
17,5519962,大数据建模总监,50735,150-500人,电商,B轮,"['年终奖金', '做五休二', '六险一金', '子女福利']",开发|测试|运维类,数据开发,建模,[],"['大数据', '互联网金融']","['大数据', '互联网金融']",2020/3/16 11:08,11:08发布,滨江区,"['西兴', '长河']",37500.0000,不限,全职,本科,福利待遇、准上市,disabled,2020/3/16 11:08,5491688,1,NaN,NaN,NaN,30.188041,120.201179,NaN,23,1,14,0,2.719454,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
18,5559894,数据建模专家-杭州-01546,6502,500-2000人,"信息安全,数据服务",D轮及以上,"['技能培训', '股票期权', '绩效奖金', '岗位晋升']",开发|测试|运维类,数据开发,建模,"['数据挖掘', 'Spark', '算法']","['银行', '互联网金融', '数据挖掘', 'Spark', '算法']","['银行', '互联网金融', '数据挖掘', 'Spark', '算法']",2020/3/16 11:17,11:17发布,余杭区,['仓前'],30000.0000,3-5年,全职,本科,"六险一金,年终奖,带薪年假",today,2020/3/16 11:16,81793,1,NaN,NaN,NaN,30.280276,120.017992,"['试用期上社保', '年底双薪', '免费下午茶', '学习机会', 'bat背景', '...",11,1,12,0,3.033237,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
19,6702852,数据分析专家（游戏业务）,593,2000人以上,"移动互联网,游戏",不需要融资,"['五险一金', '交通补助', '绩效奖金', '节日礼物']",开发|测试|运维类,数据开发,数据分析,['数据分析'],"['游戏', '数据分析']","['游戏', '数据分析']",2020/3/16 10:19,10:19发布,西湖区,"['翠苑', '文一路', '高新文教区']",37500.0000,3-5年,全职,本科,下午茶；六险一金；筑巢计划,today,2020/3/16 10:19,7389722,1,2号线,丰潭路,2号线_古翠路;2号线_丰潭路,30.290164,120.116630,NaN,58,1,12,0,0.834333,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
20,6829277,资深数据分析师,593,2000人以上,"移动互联网,游戏",不需要融资,"['五险一金', '交通补助', '绩效奖金', '节日礼物']",产品|需求|项目类,高端产品职位,数据分析专家,[],['游戏'],['游戏'],2020/3/16 10:10,10:10发布,西湖区,NaN,27500.0000,3-5年,全职,本科,"六险一金,餐补,交通补,住房贷款",disabled,2020/3/16 10:10,5241923,1,2号线,丰潭路,2号线_古翠路;2号线_丰潭路,30.290164,120.116630,NaN,46,1,12,0,0.829907,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
21,6267370,数据分析专家,31544,150-500人,数据服务,不需要融资,"['专业红娘牵线', '节日礼物', '技能培训', '岗位晋升']",开发|测试|运维类,数据开发,数据分析,"['数据挖掘', '数据分析']","['数据挖掘', '数据分析']",[],2020/3/16 11:16,11:16发布,滨江区,NaN,20000.0000,5-10年,全职,本科,五险一金,today,2020/3/16 11:16,466738,1,4号线,中医药大学,4号线_中医药大学;4号线_联庄,30.185480,120.139320,NaN,43,1,7,0,1.290228,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
22,5927901,数据分析经理,62,2000人以上,文娱丨内容,C轮,"['扁平管理', '弹性工作', '大厨定制三餐', '就近租房补贴']",产品|需求|项目类,产品经理,其他产品经理,[],['数据分析'],['数据分析'],2020/3/16 11:03,11:03发布,滨江区,NaN,30000.0000,不限,全职,本科,六险一金，餐补，租房补贴，带薪休假,threeDays,2020/3/16 11:03,11497288,1,1号线,滨和路,1号线_滨和路;1号线_江陵路;1号线_滨和路;1号线_江陵路,30.212008,120.212837,NaN,0,0,7,0,1.288015,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
23,6862245,数据分析专家,473950,50-150人,移动互联网,未融资,[],产品|需求|项目类,数据分析,数据分析,"['数据分析', '数据运营']","['数据分析', '数据运营']",[],2020/3/16 10:58,10:58发布,余杭区,NaN,22500.0000,5-10年,全职,不限,平台稳定，利于发展,today,2020/3/16 10:50,15977588,1,NaN,NaN,NaN,30.276315,120.017122,NaN,0,0,6,0,1.283589,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
24,5604926,数据分析师,143884,50-150人,"移动互联网,金融",A轮,"['股票期权', '带薪年假', '绩效奖金', '年底双薪']",开发|测试|运维类,数据开发,数据分析,"['数据分析', '数据挖掘']","['数据分析', '数据挖掘']",[],2020/3/16 11:34,11:34发布,余杭区,['仓前'],27500.0000,1-3年,全职,本科,晋升空间、季度奖金、明星团队、扁平管理,today,2020/3/16 11:28,8565539,1,NaN,NaN,NaN,30.279922,120.017500,NaN,100,1,6,0,1.190640,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
25,6601086,数据分析师,21187,150-500人,"企业服务,移动互联网",天使轮,"['带薪年假', '年轻团队', '股票期权', '下午茶']",产品|需求|项目类,数据分析,数据分析,['数据分析'],"['电商', '数据分析']","['电商', '数据分析']",2020/3/16 11:09,11:09发布,余杭区,NaN,45000.0000,3-5年,全职,本科,五险一金、周末双休、定期团建、下午茶,disabled,2020/3/16 11:08,243503,1,NaN,NaN,NaN,30.274689,120.022763,NaN,23,2,6,0,1.181787,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
26,6850849,数据分析专家,255742,150-500人,"金融,电商",C轮,"['持牌金融机构', '跨境支付', '跨境金融', '国际化团队']",开发|测试|运维类,数据开发,数据分析,"['数据分析', 'SQLServer']","['电商', '支付', '数据分析', 'SQLServer']","['电商', '支付', '数据分析', 'SQLServer']",2020/3/16 11:26,11:26发布,滨江区,['西兴'],32500.0000,3-5年,全职,本科,"持牌机构,国内**,跨境金融,独角兽",today,2020/3/16 11:26,7571978,1,1号线,滨和路,1号线_滨和路;1号线_江陵路;1号线_滨和路;1号线_江陵路,30.208560,120.211816,NaN,100,1,6,0,1.164082,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
27,5520623,数据分析经理,19875,2000人以上,硬件,不需要融资,"['年终分红', '带薪年假', '年度旅游', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,[],['移动互联网'],['移动互联网'],2020/3/16 11:24,11:24发布,西湖区,NaN,30000.0000,5-10年,全职,本科,"股票期权,千万级用户,试用期全薪",today,2020/3/16 11:24,8387688,1,NaN,NaN,NaN,30.289296,120.073776,NaN,7,1,6,0,1.164082,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
28,6657704,数据分析师,165220,150-500人,社交,不需要融资,"['绩效奖金', '带薪年假', '交通补助', '午餐补助']",产品|需求|项目类,数据分析,数据分析,"['数据分析', 'SQL']","['数据分析', 'SQL']",[],2020/3/16 10:48,10:48发布,滨江区,NaN,37500.0000,3-5年,全职,本科,双休、最高公积金、15薪起、氛围活跃,disabled,2020/3/16 10:29,6742009,1,1号线,西兴,1号线_滨康路;1号线_西兴;1号线_滨康路;1号线_西兴,30.177943,120.221341,NaN,75,1,6,0,1.164082,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
29,6234992,数据分析师,542,500-2000人,消费生活,D轮及以上,"['六险一金', '快乐高效文化', '绩效奖金', '信任']",产品|需求|项目类,数据分析,数据分析,['数据分析'],['数据分析'],[],2020/3/16 10:28,10:28发布,西湖区,"['西溪', '古荡', '文新']",45000.0000,1-3年,全职,本科,福利佳、发展空间大,today,2020/3/16 10:28,5035012,1,2号线,丰潭路,2号线_古翠路;2号线_丰潭路;2号线_文新,30.287754,120.112217,NaN,23,0,6,0,1.146378,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
30,6234992,数据分析师,542,500-2000人,消费生活,D轮及以上,"['六险一金', '快乐高效文化', '绩效奖金', '信任']",产品|需求|项目类,数据分析,数据分析,['数据分析'],['数据分析'],[],2020/3/16 10:28,10:28发布,西湖区,"['西溪', '古荡', '文新']",37500.0000,1-3年,全职,本科,福利佳、发展空间大,today,2020/3/16 10:28,5035012,1,2号线,丰潭路,2号线_古翠路;2号线_丰潭路;2号线_文新,30.287754,120.112217,NaN,23,0,6,0,1.146541,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
31,6758467,店铺数据分析师,80863,150-500人,"移动互联网,电商",B轮,"['技能培训', '带薪年假', '绩效奖金', '岗位晋升']",市场|商务类,市场|营销,商业数据分析,"['数据分析', '行业分析', '消费者分析', '市场竞争分析']","['电商', '新零售', '数据分析', '行业分析', '消费者分析', '市场竞争分析']","['电商', '新零售', '数据分析', '行业分析', '消费者分析', '市场竞争分析']",2020/3/16 11:26,11:26发布,下沙,NaN,30000.0000,3-5年,全职,大专,福利齐全 晋升空间大 精英团队 双休,threeDays,2020/3/16 11:26,7572173,1,1号线,文海南路,1号线_文海南路;1号线_云水,30.304013,120.368525,NaN,85,1,6,0,1.097846,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
32,6804489,资深数据分析师,34132,150-500人,"数据服务,广告营销",A轮,"['开放式办公', '扁平管理', '带薪假期', '弹性工作时间']",开发|测试|运维类,数据开发,数据分析,['数据分析'],"['电商', '数据分析']","['电商', '数据分析']",2020/3/16 10:57,10:57发布,余杭区,NaN,37500.0000,3-5年,全职,本科,六险一金 旅游 带薪年假 培训发展 双休,today,2020/3/16 9:51,7542546,1,NaN,NaN,NaN,30.281850,120.015690,NaN,83,1,16,0,1.075712,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
33,6764017,数据分析师（社招）,13163,500-2000人,移动互联网,上市公司,"['绩效奖金', '股票期权', '年底双薪', '专项奖金']",产品|需求|项目类,数据分析,数据分析,"['BI', '数据分析', '数据库']","['云计算', '大数据', 'BI', '数据分析', '数据库']","['云计算', '大数据', 'BI', '数据分析', '数据库']",2020/3/16 11:18,11:18发布,西湖区,"['翠苑', '文一路', '古墩路']",30000.0000,应届毕业生,全职,不限,16-18薪 大数据A股上市公司,today,2020/3/16 11:02,158057,1,2号线,丰潭路,2号线_古翠路;2号线_丰潭路,30.290310,120.114560,NaN,1,1,15,0,1.020377,NaN,NaN,NaN,1,0,NaN,0,0,0,NaN,NaN,0,0,[],True
34,6228290,商业数据分析师,509360,50-150人,"移动互联网,企业服务",B轮,"['定期体检', '帅哥多', '领导好', '美女多']",市场|商务类,市场|营销,商业数据分析,"['数据分析', '行业分析', '市场竞争分析']","['数据分析', '行业分析', '市场竞争分析']",[],2020/3/16 11:13,11:13发布,西湖区,['西溪'],30000.0000,1-3年,全职,硕士,"发挥空间大,职业发展好",today,2020/3/16 11:13,9293747,1,NaN,NaN,NaN,30.293040,120.075105,NaN,60,1,5,0,1.095633,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
35,6284662,bi数据分析师,50354,2000人以上,物流丨运输,D轮及以上,"['技能培训', '节日礼物', '年底双薪', '带薪年假']",开发|测试|运维类,数据开发,BI工程师,['ETL'],"['大数据', 'ETL']","['大数据', 'ETL']",2020/3/16 10:56,10:56发布,西湖区,NaN,40000.0000,不限,全职,本科,"数据量大,业务价值高,弹性工作,朝阳企业",today,2020/3/16 10:56,985145,1,2号线,丰潭路,2号线_学院路;2号线_古翠路;2号线_丰潭路,30.274550,120.122110,NaN,6,1,5,0,1.077925,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
36,6886661,浙江数据分析师,321001,150-500人,"金融,数据服务",D轮及以上,"['年底双薪', '午餐补助', '年终分红', '绩效奖金']",开发|测试|运维类,数据开发,数据分析,['Hadoop'],['Hadoop'],[],2020/3/16 10:48,10:48发布,西湖区,"['西溪', '西湖', '古荡']",37500.0000,1-3年,全职,本科,发展空间,today,2020/3/16 10:48,2155375,1,2号线,丰潭路,2号线_学院路;2号线_古翠路;2号线_丰潭路,30.281852,120.118117,NaN,100,1,5,0,1.080139,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
37,6242470,数据分析师,31544,150-500人,数据服务,不需要融资,"['专业红娘牵线', '节日礼物', '技能培训', '岗位晋升']",产品|需求|项目类,数据分析,数据分析,"['增长黑客', '数据分析', '商业']","['增长黑客', '数据分析', '商业']",[],2020/3/16 11:16,11:16发布,滨江区,NaN,22500.0000,1-3年,全职,本科,五险一金,today,2020/3/16 11:16,466738,1,4号线,中医药大学,4号线_中医药大学;4号线_联庄,30.185480,120.139320,NaN,43,1,5,0,1.060218,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
38,6601086,数据分析师,21187,150-500人,"企业服务,移动互联网",天使轮,"['带薪年假', '年轻团队', '股票期权', '下午茶']",产品|需求|项目类,数据分析,数据分析,['数据分析'],"['电商', '数据分析']","['电商', '数据分析']",2020/3/16 11:09,11:09发布,余杭区,NaN,37500.0000,3-5年,全职,本科,五险一金、周末双休、定期团建、下午茶,disabled,2020/3/16 11:08,243503,1,NaN,NaN,NaN,30.274689,120.022763,NaN,23,2,5,0,1.055791,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
39,6569491,数据分析师,231698,50-150人,"移动互联网,数据服务",不需要融资,"['年底双薪', '定期体检', '午餐补助', '交通补助']",产品|需求|项目类,数据分析,数据分析,['数据分析'],"['广告营销', '数据分析']","['广告营销', '数据分析']",2020/3/16 10:44,10:44发布,余杭区,"['金家渡', '勾庄']",37500.0000,3-5年,全职,本科,五险一金；晋升机会,threeDays,2020/3/16 10:44,13029326,1,2号线,墩祥街,2号线_墩祥街,30.338565,120.100426,NaN,1,1,5,0,1.049151,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
40,6791055,高级数据分析师,432882,150-500人,移动互联网,不需要融资,"['技术大牛', '领导nice', '帅哥美女', '环境超棒']",产品|需求|项目类,数据分析,数据分析,"['SQL', '数据分析']","['SQL', '数据分析']",[],2020/3/16 11:08,11:08发布,滨江区,"['西兴', '长河']",20000.0000,3-5年,全职,不限,福利待遇,today,2020/3/16 11:08,4806498,1,1号线,滨和路,1号线_滨和路;1号线_江陵路;1号线_滨和路;1号线_江陵路,30.208047,120.221652,NaN,90,2,5,0,1.022590,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
41,6869123,数据分析师（财务方向）,173746,150-500人,消费生活,C轮,[],产品|需求|项目类,数据分析,数据分析,"['数据分析', '数据库', 'SQL']","['电商', '数据分析', '数据库', 'SQL']","['电商', '数据分析', '数据库', 'SQL']",2020/3/16 10:52,10:52发布,余杭区,NaN,37500.0000,3-5年,全职,本科,准独角兽企业 社群电商 五险一金,disabled,2020/3/16 10:52,1857793,1,NaN,NaN,NaN,30.277920,120.007550,NaN,99,1,5,0,1.011524,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
42,6344146,资深数据分析师,522865,150-500人,游戏,不需要融资,"['年底双薪', '专项奖金', '提供三餐', '便捷班车']",开发|测试|运维类,数据开发,数据分析,['数据分析'],"['移动互联网', '游戏', '数据分析']","['移动互联网', '游戏', '数据分析']",2020/3/16 11:32,11:32发布,西湖区,NaN,24000.0000,5-10年,全职,本科,"班车,年终奖,提供三餐",today,2020/3/16 11:32,7283854,1,NaN,NaN,NaN,30.134028,120.083663,NaN,0,0,5,0,0.984963,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
43,5921220,财务数据分析师,137388,150-500人,"移动互联网,电商",不需要融资,"['年终分红', '绩效奖金', '定期体检', '年底双薪']",综合职能|高级管理,财务,财务风控,"['财务', '资产/项目评估', '分析', '风控']","['电商', '财务', '资产/项目评估', '分析', '风控']","['电商', '财务', '资产/项目评估', '分析', '风控']",2020/3/16 10:43,10:43发布,滨江区,"['西兴', '长河']",45000.0000,3-5年,全职,本科,发展前景,today,2020/3/16 10:43,5169569,1,1号线,滨和路,1号线_滨和路;1号线_江陵路;1号线_滨和路;1号线_江陵路,30.211334,120.216493,NaN,100,1,5,0,1.000457,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
44,6653757,银行数据分析岗,23403,2000人以上,企业服务,上市公司,"['五险一金', '通讯津贴', '带薪年假', '定期体检']",开发|测试|运维类,数据开发,数据分析,"['数据挖掘', '数据仓库']","['数据挖掘', '数据仓库']",[],2020/3/16 11:25,11:25发布,滨江区,['浦沿'],50000.0000,1-3年,全职,不限,"金融科技,学习环境,提升空间,大平台",today,2020/3/16 11:25,5501327,1,4号线,中医药大学,4号线_杨家墩;4号线_中医药大学,30.162450,120.146505,NaN,100,0,5,0,0.982749,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
45,6684619,金融数据分析师,26564,500-2000人,电商,D轮及以上,"['生日趴', '每月腐败基金', '每月补贴', '年度旅游']",开发|测试|运维类,数据开发,数据分析,"['数据挖掘', '数据分析', '数据处理']","['互联网金融', '大数据', '数据挖掘', '数据分析', '数据处理']","['互联网金融', '大数据', '数据挖掘', '数据分析', '数据处理']",2020/3/16 10:36,10:36发布,江干区,NaN,22500.0000,3-5年,全职,本科,"平台大,机会多,重点项目",today,2020/3/16 10:36,10092175,1,1号线,文泽路,1号线_文泽路,30.299404,120.350304,NaN,0,0,5,0,0.995890,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
46,6228290,商业数据分析师,509360,50-150人,"移动互联网,企业服务",B轮,"['定期体检', '帅哥多', '领导好', '美女多']",市场|商务类,市场|营销,商业数据分析,"['数据分析', '行业分析', '市场竞争分析']","['数据分析', '行业分析', '市场竞争分析']",[],2020/3/16 11:13,11:13发布,西湖区,['西溪'],45000.0000,1-3年,全职,硕士,"发挥空间大,职业发展好",today,2020/3/16 11:13,9293747,1,NaN,NaN,NaN,30.293040,120.075105,NaN,60,1,5,0,0.980398,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
47,6339988,数据分析师/BI,238706,150-500人,"电商,移动互联网",不需要融资,"['年底双薪', '绩效奖金', '带薪年假', '定期体检']",开发|测试|运维类,数据开发,数据分析,['数据分析'],['数据分析'],[],2020/3/16 11:00,11:00发布,滨江区,"['西兴', '长河']",45000.0000,1-3年,全职,本科,"六险一金，定期体检,团队活动,地铁站边",today,2020/3/16 11:00,10759514,1,1号线,滨和路,1号线_滨和路;1号线_江陵路;1号线_滨和路;1号线_江陵路,30.207822,120.220961,NaN,66,1,5,0,0.975972,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
48,6067812,数据分析专员,98316,2000人以上,"电商,消费生活",上市公司,"['午餐补助', '带薪年假', '定期体检', '年度旅游']",产品|需求|项目类,数据分析,数据分析,"['数据分析', 'SPSS', 'SQL', '数据库']","['数据分析', 'SPSS', 'SQL', '数据库']",[],2020/3/16 10:00,10:00发布,西湖区,"['古墩路', '古荡', '高新文教区']",22500.0000,3-5年,全职,大专,上市公司,threeDays,2020/3/16 10:00,4865907,1,2号线,丰潭路,2号线_古翠路;2号线_丰潭路,30.279680,120.113710,NaN,0,0,5,0,0.978185,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False
49,5990647,高级财务数据分析师,18655,2000人以上,汽车丨出行,D轮及以上,"['技能培训', 'Geek', '开放', '扁平管理']",综合职能|高级管理,财务,财务,"['会计', '分析']","['会计', '分析']",[],2020/3/16 10:45,10:45发布,余杭区,NaN,27500.0000,3-5年,全职,本科,餐补，带薪年假，节日礼品，定期体检,today,2020/3/16 10:45,899716,1,NaN,NaN,NaN,31.240897,121.417492,NaN,0,0,5,0,0.949415,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],True
50,6680900,数据分析师 (MJ000250),114335,150-500人,数据服务,B轮,"['股票期权', '弹性工作', '领导好', '五险一金']",产品|需求|项目类,产品经理,数据分析师,"['需求分析', '数据']","['企业服务', '大数据', '需求分析', '数据']","['企业服务', '大数据', '需求分析', '数据']",2020/3/16 10:49,10:49发布,西湖区,NaN,27500.0000,3-5年,全职,不限,阿里系创业、云计算生态、餐补、双休,today,2020/3/16 10:49,3859261,1,NaN,NaN,NaN,30.289482,120.067080,NaN,1,1,5,0,0.947202,NaN,NaN,NaN,0,0,NaN,0,0,0,NaN,NaN,0,0,[],False

!pwd

In [2]:
# 8-2
import pandas as pd  
  
# 定义起始日期和结束日期  
start_date = pd.Timestamp('2021-01-01')  
end_date = pd.Timestamp('2021-09-01')  
  
# 生成日期列表  
date_list = pd.date_range(start_date, end_date).tolist()  
  
# 输出日期列表  
# print(date_list)