In [1]:
#python 操作mysql
#增删改查。

In [2]:
import pymysql

In [3]:
mysql_conn = pymysql.connect(host= '127.0.0.1', port= 3306, user= 'root', password= '', db= 'whgtest')

In [4]:
mysql_conn

In [6]:
text = "let's go"
text = mysql_conn.escape(text)
sql = "INSERT INTO test_mysql (name, num, text) VALUES ('{0}','{1}', {2})".format('Zarten_1', 1, text)
try:
    with mysql_conn.cursor() as cursor:
        cursor.execute(sql)
    mysql_conn.commit()
except Exception as e:
    mysql_conn.rollback()
mysql_conn.close()

In [10]:
%%time
mysql_conn = pymysql.connect(host= '127.0.0.1', port= 3306, user= 'root', password= '', db= 'whgtest')
with open("./sql/test.sql",encoding="utf-8") as f:
    full_sql=f.read();
    sql_commands=full_sql.split(';')[:-1]
#     print(full_sql)
for sql_command in sql_commands:
    try:
        mysql_conn.cursor().execute(sql_command)
        mysql_conn.commit()
    except Exception as e:
        mysql_conn.rollback()
        print(e)
mysql_conn.cursor().close()
mysql_conn.close()

(1050, "Table 'test_mysql2' already exists")
CPU times: user 3.48 ms, sys: 1.24 ms, total: 4.71 ms
Wall time: 252 ms

In [ ]:
# %sql mysql+pymysql://ffzs:666666@localhost/test

In [12]:
%load_ext sql

In [13]:
%sql mysql+pymysql://root:whgdev@localhost/whgtest

In [15]:
%%sql
select * from
test_mysql

 * mysql+pymysql://root:***@localhost/whgtest
2 rows affected.

[('Zarten_1', 1, "let's go"), ('Zarten_1', 1, "let's go")]

In [17]:
%sql select * from test_mysql

 * mysql+pymysql://root:***@localhost/whgtest
2 rows affected.

[('Zarten_1', 1, "let's go"), ('Zarten_1', 1, "let's go")]

In [19]:
%%sql
show databases;
show tables;

 * mysql+pymysql://root:***@localhost/whgtest
5 rows affected.
1 rows affected.

[('test_mysql',)]

In [20]:
%%sql
show databases;

 * mysql+pymysql://root:***@localhost/whgtest
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('whgtest',)]