　里面是一个循环发电场的数据，共有9568个样本数据，每个数据有5列，分别是:AT（温度）, V（压力）, AP（湿度）, RH（压强）, PE（输出电力)。我们不用纠结于每项具体的意思。

　　　　我们的问题是得到一个线性的关系，对应PE是样本输出，而AT/V/AP/RH这4个是样本特征， 机器学习的目的就是得到一个线性回归模型，即:

　　　　PE=θ0+θ1∗AT+θ2∗V+θ3∗AP+θ4∗RH
　　　　而需要学习的，就是θ0,θ1,θ2,θ3,θ4这5个参数。

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model

In [2]:
data=pd.read_csv("./Data/ccpp.csv")

In [4]:
data.shape

(9568, 5)

In [5]:
data.head()

      AT      V       AP     RH      PE
0   8.34  40.77  1010.84  90.01  480.48
1  23.64  58.49  1011.40  74.20  445.75
2  29.74  56.90  1007.15  41.91  438.76
3  19.07  49.69  1007.22  76.79  453.09
4  11.80  40.66  1017.13  97.20  464.43

In [7]:
x=data[['AT' ,'V','AP','RH']]

In [20]:
x.head()

      AT      V       AP     RH
0   8.34  40.77  1010.84  90.01
1  23.64  58.49  1011.40  74.20
2  29.74  56.90  1007.15  41.91
3  19.07  49.69  1007.22  76.79
4  11.80  40.66  1017.13  97.20

In [9]:
y=data[['PE']]

In [10]:
y.head()

       PE
0  480.48
1  445.75
2  438.76
3  453.09
4  464.43

In [12]:
# from sklearn.cross_validation import train_test_split

In [14]:
 from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [18]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(7176, 4)
(7176, 1)
(2392, 4)
(2392, 1)

In [19]:
X_train.head()

         AT      V       AP     RH
9103  22.99  62.96  1019.60  65.05
6281  27.71  74.34   998.14  71.85
6201  29.98  76.09  1007.62  75.60
2646   9.57  39.82  1013.12  89.15
3568  30.95  73.06  1008.86  74.86

6. 运行scikit-learn的线性模型

终于到了临门一脚了，我们可以用scikit-learn的线性模型来拟合我们的问题了。scikit-learn的线性回归算法使用的是最小二乘法来实现的。代码如下：

In [51]:
from sklearn.linear_model import LinearRegression

In [56]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

拟合完毕后，我们看看我们的需要的模型系数结果：

In [57]:
print(linreg.intercept_)
print(linreg.coef_)

[447.06297099]
[[-1.97376045 -0.23229086  0.0693515  -0.15806957]]

　这样我们就得到了在步骤1里面需要求得的5个值。也就是说PE和其他4个变量的关系如下：

　　　　PE=447.06297099−1.97376045∗AT−0.23229086∗V+0.0693515∗AP−0.15806957∗RH

7. 模型评价
　我们需要评估我们的模型的好坏程度，对于线性回归来说，我们一般用均方差（Mean Squared Error, MSE）或者均方根差(Root Mean Squared Error, RMSE)在测试集上的表现来评价模型的好坏。

　　　　我们看看我们的模型的MSE和RMSE，代码如下：

In [59]:
#模型拟合测试集
y_pred = linreg.predict(X_test)
from sklearn import metrics
# 用scikit-learn计算MSE
print("MSE:",metrics.mean_squared_error(y_test, y_pred))
# 用scikit-learn计算RMSE
print("RMSE:",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MSE: 20.080401202073897
RMSE: 4.481116066570236

In [61]:
X = data[['AT', 'V', 'AP']]
y = data[['PE']]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train, y_train)
#模型拟合测试集
y_pred = linreg.predict(X_test)
from sklearn import metrics
# 用scikit-learn计算MSE
print("MSE:",metrics.mean_squared_error(y_test, y_pred))
# 用scikit-learn计算RMSE
print("RMSE:",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MSE: 23.20890747013624
RMSE: 4.817562399194871

可以看出，去掉RH后，模型拟合的没有加上RH的好，MSE变大了。

8. 交叉验证
　　　　我们可以通过交叉验证来持续优化模型，代码如下，我们采用10折交叉验证，即cross_val_predict中的cv参数为1

In [63]:
X = data[['AT', 'V', 'AP', 'RH']]
y = data[['PE']]
from sklearn.model_selection import cross_val_predict
predicted = cross_val_predict(linreg, X, y, cv=10)
# 用scikit-learn计算MSE
print("MSE:",metrics.mean_squared_error(y_test, y_pred))
# 用scikit-learn计算RMSE
print("RMSE:",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MSE: 23.20890747013624
RMSE: 4.817562399194871

以下为知识点测试

In [21]:
l=[1,2] 
a,b=l[0] ,l[1]

In [23]:
a,b

(1, 2)

In [29]:
l = [1, 2]
a, b = l

In [32]:
l = [[1, 2], [3, 4], [5, 6]]
for i, j in l:
    print(i, j)

1 2
3 4
5 6

In [33]:
a, b, c = 1, 3, (4, 5)
print(c)

(4, 5)

In [34]:
a, b, (c, d), e = 1, 3, (4, 5), 7
print(c, d)

4 5

In [35]:
_, _, (c, d), _ = 1, 3, (4, 5), 7
print(c, d)

4 5

In [38]:
a = {'hello':'你好','bad':'你坏蛋'}
for _, v in a.items():
    print(v)

你好
你坏蛋

In [39]:
data1 = ['wheel', 'factory1', 3, 4, 5, 6, '2020-02-02']
name, factory, *inch, date = data1
print(inch)

[3, 4, 5, 6]